
$p-font: 'Poppins', sans-serif;
$s-font: 'Roboto Slab', serif;
$t-font: 'Roboto', sans-serif;

@mixin section__title {
  margin-top: 120px;
  color: #000000;
  font-family: $p-font;
  font-size: 60px;
  font-weight: 700;
  line-height: 86px;
  text-align: center;
}