@import '../core/core.scss';
@import '../core/vars.scss';

.header{
    background-image: url("../../imgs/bg-1.svg");
    height: 502px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 50%;
    position: relative;
    background-color: #41268e;

    .container-fluid{
        box-sizing: border-box;
        width: 100%;
        display: grid;
        grid-template-columns: auto 1fr;
        justify-items: end;

        padding: 0px 112px;
        .logo{
            display: inline-flex;
            justify-items: center;
            align-items: center;
            z-index: 1000;
        }
        .menu{
            z-index: 1000;

            &_list{
                .list__link{
                    /* Style for "HOME" */
                    margin-left: 36px;
                    color: #ffffff;
                    
                    font-size: 18px;
                    line-height: 84px;
                    text-transform: uppercase;
                    /* Text style for "ABOUT" */
                    font-family: $p-font;
                    font-weight: 400;
                    text-decoration: none;
                    transition: .3s;
                    &:hover, &.active{
                        color: #999;
                    }
                }
            }
        } 
    }
    
    &__content{
        margin-top: 120px;
        &__title{
            text-align: center;
            /* Style for "Hi! Iâ€™m  C" */
            color: #ffffff;
            font-family: $p-font;
            font-size: 80px;                        
            font-weight: 700;
            line-height: 87px;            
        }
    }

    .social{
        position: absolute;
        left: 76px;
        bottom: 70px;
        display: flex;
        flex-direction: column;
        .social__link{
            display: inline-block;
            width: 24px;
            height: 18px;
            margin-top: 24px;
        }
    }

    .leaf1, .leaf2, .leaf3, .leaf4, .leaf4, .leaf5, .leaf6{
        // transition: transform linear .1s;
        z-index: 0;
    }

    .leaf2{
        position: absolute;
        left: 200px;
        bottom: -35%;
    }
    .leaf3{
        position: absolute;
        top: -10%;
        left: 41%;
    }

    .leaf5{
        position: absolute;
        bottom: -43px;
        right: 0%;
        // animation: moveRight2 5s ease-in forwards;
    }
    .leaf6{
        position: absolute;
        top: -15%;
        left: -4%;
        
    }
}

@keyframes moveLeft{
    0%{
        
    }
    25%{
        right: 5%;
    }
    100%{
        bottom: 10%;        
    }
}

@keyframes moveRight{
    0%{
        left: 0;
    }
    25%{
        left: -100px;
    }
    100%{
        left: -300px;
    }
}

@keyframes moveRight2{
    0%{
        left: 15%;
    }
    25%{
        bottom: -43px;
        left: 0%;
        transform: scale(1.2);
    }
    100%{
        left: 16%;
        transform: scale(1);
    }
}


.section__blogs{
    // background-color: red;
    margin-top: 112px;
    .blogs{
        width: 960px;
        &__block{
                        
            
            &_item{
                border-radius: 6px;
                background-color: #ffffff;
                // box-shadow: 0px 60px 10px 1px rgba(112, 112, 112, 0.19);
                .blog_title{
                  font-family: $p-font;
                  font-size: 40px;
                  font-weight: 700;
                  line-height: 57px;

                }

                .blog_details{
                  margin-top: 52px;
                  color: #737373;
                  font-family: $s-font;
                  font-size: 22px;
                  font-weight: 400;
                  line-height: 36px;
                  /* Text style for ",  ," */
                  // color: #000000;
                  /* Text style for "uixgeek, U" */
                  // color: #41228e;
                  time, author{
                    color: #41228e;
                    cursor: pointer;
                  }
                }
                .blog_img{
                  margin-top: 30px;
                    img{
                        width: 100%;
                    }
                }
                .blog_content{
                    
                    box-sizing: border-box;
                    padding: 28px 24px 24px 24px;
                   
                    .blog_preview{
                        opacity: 0.7;
                        color: #000000;
                        font-family: $t-font;
                        font-family: $s-font;
                        font-size: 22px;
                        font-weight: 400;
                        line-height: 36px;
                        margin-bottom: 42px;
                    }
                    p{
                      margin: 27px 0;
                      opacity: 0.7;
                      color: #000000;
                      font-family: Roboto;
                      font-size: 20px;
                      font-weight: 300;
                      line-height: 30px;
                    }

                    .blog_category{
                        color: #41228e;
                        font-family: $s-font;
                        font-size: 15px;
                        font-weight: 400;
                        line-height: 36px;
                        border-radius: 2px;
                        background-color: #00000005;
                        padding: 6px 15px;
                        margin-top: 1em;
                    }

                }
                
                
            }
        }
    }
}


.comments__block{
    &_title{
        color: #000000;
        font-family: $s-font;
        font-size: 28px;
        font-weight: 700;
        line-height: 36px;
    }
    &__items{
        margin-top: 24px;
        padding: 42px 68px;
        background-color: #fafafa;
        
        .comment{
            display: flex;
            border-bottom: 1px solid #dbdbdb;
            padding: 18px 0;
            
            .commenter_img{
                display: inline-block;
                height: 64px;
                width: 64px;
                border-radius: 50%;
                img{
                    width: 100%;
                }
            }
            .comment_content{
                padding-left: 30px;
                .commenter_name{
                    color: #000000;
                    font-family: $s-font;
                    font-size: 22px;
                    font-weight: 400;
                    margin: 0;
                }
                .comment_text{
                    opacity: 0.7;
                    color: #000000;
                    font-family: $t-font;
                    font-size: 15px;
                    font-weight: 300;
                    line-height: 25px;
                    margin-top: 20px;
                    
                }
                .reply_link{
                    color: #000000;
                    font-family: $s-font;
                    font-size: 15px;
                    font-weight: 400;
                    line-height: 36px;
                    
                    display: inline-block;
                }
            }
            &.reply{
                margin-left: 74px;
            }
        }
    
     
    }



    .comment__form{
        padding: 0 68px;
        &__title{
            color: #000000;
            font-family: $s-font;
            font-size: 22px;
            font-weight: 700;
            line-height: 36px;
            border-bottom: 1px solid #dbdbdb;
        }
        .form__block{
            display: flex;
            margin-top: 37px;
            .inputs{
                flex-basis: calc(100% / 2 - 12px);
                input{
                    border: 0;
                    width: 100%;
                    padding: 20px 5px;
                    border-bottom: 2px solid #00000020;
                    color: #00000080;
                    font-family: "Roboto", sans-serif;
                    font-size: 15px;
                    font-weight: 400;
                    line-height: 28px;
                    &:focus{
                        outline: 0;
                        border-bottom: 2px solid #000000;
                    }
                }
                margin-right: 12px;
            }
            .textarea{
                flex-basis: calc(100% / 2);
                display: flex;
                flex-direction: column;
                textarea{
                    border: 0;
                    width: 100%;
                    padding: 20px 5px;
                    border-bottom: 2px solid #00000020;
                    opacity: 0.7;
                    color: #000000;
                    font-family: Roboto;
                    font-size: 15px;
                    font-weight: 400;
                    line-height: 28px;
                    &:focus{
                        outline: 0;
                        border-bottom: 2px solid #000000;
                    }
                }
                .add_comment{
                    border: 0;
                    border-radius: 6px;
                    background-color: #41228e;
                    color: #ffffff;
                    font-family: $s-font;
                    font-size: 22px;
                    font-weight: 400;
                    
                    text-transform: uppercase;
                    padding: 21px 0;
                    width: 100%;
                    margin-top: 24px;
                    transition: .3s;
                    &:hover{
                        background-color: #51228e;
                    }
                
                }
            }
        }
    
    }
    

}







// .section__featured{
.section__featured{
    .featured{
        &__title{
            @include section__title;
        }
        &__block{
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(370px, 1fr));
            grid-gap: 30px;
            margin-top: 80px;
            &_item{
                border-radius: 6px;
                background-color: #ffffff;
                .blog_img{
                    img{
                        width: 100%;
                    }
                }
                .blog_content{
                    box-sizing: border-box;
                    padding: 28px 24px 24px 24px;
                    .blog_title{
                        font-family: $s-font;
                        font-size: 22px;
                        font-weight: 400;
                        line-height: 36px;
                        cursor: pointer;
                    }
                    .blog_preview{
                        opacity: 0.7;
                        color: #000000;
                        font-family: $t-font;
                        font-size: 15px;
                        font-weight: 300;
                        line-height: 25px;
                        margin-top: 1em;
                    }

                    .blog_category{
                        color: #41228e;
                        font-family: $s-font;
                        font-size: 15px;
                        font-weight: 400;
                        line-height: 36px;
                        border-radius: 2px;
                        background-color: #00000005;
                        padding: 6px 15px;
                        margin-top: 1em;
                    }

                }
                box-shadow: -17px 60px 60px -30px rgba(112, 112, 112, 0.19);
                top: 0;
                transition: .2s;
                position: relative;
                &:hover{
                    top: -20px;
                    box-shadow: 0 59px 39px 7px rgba(224, 241, 255, 0.34);
                }
            }
        }
    }
}


.footer{
    margin-top: 100px;
    height: auto;
    background-color: #222222;
    .container{
        
    }
    .top_footer{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        padding-top: 50px;
        grid-gap: 146px;
        &_item{
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            & > span{
                display: block;
            }
            .label{
                opacity: 0.4;
                color: #ffffff;
                font-family: $s-font;
                font-size: 18px;
                font-weight: 400;
            }

            .item_value{
                color: #ffffff;
                font-family: $s-font;
                font-size: 22px;
                font-weight: 400;
                margin-top: 25px;
            }
        }
    }

    .bottom_footer{
        margin-top: 62px;
        border-top: 1px solid #ffffff12;
        align-items: center;
        padding-top: 27px;
        padding-bottom: 27px;
        .container{
            display: flex;
            justify-content: space-between;

            & > span{
                opacity: 0.7;
                color: #ffffff;
                font-family: $t-font;
                font-size: 15px;
                font-weight: 400;
                line-height: 28px;
            }
            .developer{
                
                a{
                    opacity: 1;
                    color: #fff;
                }
            }

        }
    }
}


#hamburger{
    display: none;
}




/* On screens that are 1048px or less, set the background color to olive */
@media screen and (max-width: 1048px) {
    body {
    //   background-color: olive;
    
    }

    .container{
        width: 100%;
    }
// section__skills
.header{
    // height: auto;
    .leaf1, .leaf2, .leaf3, .leaf3, .leaf4, .leaf5{
        display: none;
    }

    #hamburger{
        display: inline-block;
    }
    .container-fluid{
        width: 100%;
        padding: 15px 22px;
        grid-template-columns: 1fr 1fr;
        justify-items: unset;
        .menu{
            text-align: right;
            .menu_list{
                display: flex;
                
                opacity: 0;
                transition: background-color .3s;
                position: absolute;
                flex-direction: column;
                max-height: 0;
                width: 100%;
                left: 0;
                padding: 0 30px;
                background-color: darkslateblue;
                .list__link{
                    margin-left: 36px;
                    color: #ffffff;
                    font-size: 0;
                    line-height: 68px;
                    text-transform: uppercase;
                    font-family: "Poppins", sans-serif;
                    font-weight: 400;
                    text-decoration: none;
                    transition: .3s;
                }

                &.active{
                    opacity: 1;
                    max-height: fit-content;
                    top: 114px;
                    flex-direction: revert;
                    .list__link{
                        font-size: 1.5em;
                    }
                }
            }
        }
    }
    &__content{
        margin-top: 100px;
        
        &__title{
            padding-left: 20px;
            font-size: 48px;
        }   
    }
}




// .section__featured{
    .section__featured{
        .featured{
            padding: 0 20px;
            
        }
    }
    



// .section__brands
.section__brands{
    margin-top: 50px;
    .brand{
        overflow: hidden;            
        &__slider{

            &_item{
                text-align: center;
            }
        }

    }
}




.footer{
    height: auto;
    
    .container{
        padding: 0 22px;
    }
    .top_footer{
        
        grid-template-columns: 1fr;
        padding-top: 80px;
        grid-gap: 46px;
        &_item{
            
            flex-direction: column;
            
            & > span{
            }
            .label{
            }

            .item_value{

            }
        }
    }

    .bottom_footer{
        
        padding-top: 27px;
        padding-bottom: 27px;
        .container{
            flex-direction: column;
            text-align: center;
            & > span{
            }
            .developer{
                
                a{
                    opacity: 1;
                    color: #fff;
                }
            }

        }
    }
}





  }



/* On screens that are 769px or less, set the background color to olive */
@media screen and (max-width: 769px) {

  @mixin section__title {
    margin-top: 120px;

    font-size: 48px;

  }
    body {
    //   background-color: olive;
    
    }

    .container{
        width: 100%;
    }
// section__skills
.header{
    // height: auto;
    .leaf1, .leaf2, .leaf3, .leaf3, .leaf4, .leaf5{
        display: none;
    }

    #hamburger{
        display: inline-block;
    }
    .container-fluid{
        width: 100%;
        padding: 15px 22px;
        grid-template-columns: 1fr 1fr;
        justify-items: unset;
        .menu{
            text-align: right;
            .menu_list{
                display: flex;
                /* width: 0; */
                opacity: 0;
                transition: background-color .3s;
                position: absolute;
                flex-direction: column;
                max-height: 0;
                width: 100%;
                left: 0;
                padding: 0 30px;
                background-color: darkslateblue;
                .list__link{
                    margin-left: 36px;
                    color: #ffffff;
                    font-size: 0;
                    line-height: 68px;
                    text-transform: uppercase;
                    font-family: "Poppins", sans-serif;
                    font-weight: 400;
                    text-decoration: none;
                    transition: .3s;
                }

                &.active{
                    opacity: 1;
                    max-height: fit-content;
                    top: 114px;
                    flex-direction: column;
                    .list__link{
                        font-size: 1.5em;
                    }
                }
            }
        }
    }
    &__content{
        margin-top: 50px;
        
        &__title{
            padding-left: 20px;
            font-size: 36px;
        }   
    }
}


.section__blogs {
    .blogs {
        width: 100%;
        &__block{
            &_item{
                .blog_details, .blog_title{
                    padding: 0 20px;
                }

                .comments__block{
                    &_title{
                        padding: 0 20px;
                    }
                    .comment__form{
                        margin-top: 30px;
                        .form__block{
                            flex-direction: column;
                        }
                    }
                }
            }
        }
    }
}


// .section__featured{
    .section__featured{
        .featured{
            padding: 0 20px;
            
        }
    }
    



.footer{
    height: auto;
    
    .container{
        padding: 0 22px;
    }
    .top_footer{
        
        grid-template-columns: 1fr;
        padding-top: 40px;
        grid-gap: 46px;
        &_item{
            
            flex-direction: column;
            
            & > span{
            }
            .label{
            }

            .item_value{

            }
        }
    }

    .bottom_footer{
        
        padding-top: 27px;
        padding-bottom: 27px;
        .container{
            flex-direction: column;
            text-align: center;
            & > span{
            }
            .developer{
                
                a{
                    opacity: 1;
                    color: #fff;
                }
            }

        }
    }
}



  }