@import '../core/core.scss';
@import '../core/vars.scss';

.header{
    background-image: url("../../imgs/bg-1.svg");
    height: 502px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 50%;
    position: relative;
    background-color: #41268e;

    .container-fluid{
        box-sizing: border-box;
        width: 100%;
        display: grid;
        grid-template-columns: auto 1fr;
        justify-items: end;

        padding: 0px 112px;
        .logo{
            display: inline-flex;
            justify-items: center;
            align-items: center;
            z-index: 1000;
        }
        .menu{
            z-index: 1000;

            &_list{
                .list__link{
                    /* Style for "HOME" */
                    margin-left: 36px;
                    color: #ffffff;
                    
                    font-size: 18px;
                    line-height: 84px;
                    text-transform: uppercase;
                    /* Text style for "ABOUT" */
                    font-family: $p-font;
                    font-weight: 400;
                    text-decoration: none;
                    transition: .3s;
                    &:hover, &.active{
                        color: #999;
                    }
                }
            }
        } 
    }
    
    &__content{
        margin-top: 120px;
        &__title{
            text-align: center;
            /* Style for "Hi! I’m  C" */
            color: #ffffff;
            font-family: $p-font;
            font-size: 80px;                        
            font-weight: 700;
            line-height: 87px;            
        }
    }

    .social{
        position: absolute;
        left: 76px;
        bottom: 70px;
        display: flex;
        flex-direction: column;
        .social__link{
            display: inline-block;
            width: 24px;
            height: 18px;
            margin-top: 24px;
        }
    }

    .leaf1, .leaf2, .leaf3, .leaf4, .leaf4, .leaf5, .leaf6{
        // transition: transform linear .1s;
        z-index: 0;
    }

    .leaf2{
        position: absolute;
        left: 200px;
        bottom: -35%;
    }
    .leaf3{
        position: absolute;
        top: -10%;
        left: 41%;
    }

    .leaf5{
        position: absolute;
        bottom: -43px;
        right: 0%;
        // animation: moveRight2 5s ease-in forwards;
    }
    .leaf6{
        position: absolute;
        top: -15%;
        left: -4%;
        
    }
}

@keyframes moveLeft{
    0%{
        
    }
    25%{
        right: 5%;
    }
    100%{
        bottom: 10%;        
    }
}

@keyframes moveRight{
    0%{
        left: 0;
    }
    25%{
        left: -100px;
    }
    100%{
        left: -300px;
    }
}

@keyframes moveRight2{
    0%{
        left: 15%;
    }
    25%{
        bottom: -43px;
        left: 0%;
        transform: scale(1.2);
    }
    100%{
        left: 16%;
        transform: scale(1);
    }
}

// .section__portfolio

.section__portfolio{
    .portfolio{
        &__filter{
            text-align: center;
            margin-top: 176px;
            a{
              color: #41228e;
              font-family: $s-font;
              font-size: 18px;
              font-weight: 400;              
              
              text-decoration: none;
              padding: 5px 20px;
              transition: .3s;
              border: 1px solid transparent;
              &:not(:last-child){
                margin-right: 2em;
              }

              &.active{
                font-weight: 700;
                border: 1px solid #41228e;
              }
              &:hover{
                border: 1px dotted #41228e;
              }
            }
        }

        &__block{
            margin-top: 80px;
            column-count: 3;
            column-gap: 2em;
            
            &__item{
              margin-top: 1.4em;
              &:nth-child(1){
                margin-top: 0;
              }
                .portfolio_img{
                    img{
                        width: 100%;
                    }
                }
                &:nth-child(1){
                    grid-column: 1;
                    grid-row: 1 / 3;
                }
            }
        }
        .load_more{
            font-family: $p-font;
            display: inline-block;
            margin-top: 10px;
            background-color: #41268e;
            color: #ffffff;
            padding: 10px 22px;
            border-radius: 3px;
            text-decoration: none;
        }
    }
}



// .section__brands
.section__brands{
  height: 426px;
  background-color: #f8f9fa;
  margin-top: 140px;
  .brand{
      overflow: hidden;            
      padding-top: 110px;
      
      &__title{
        @include section__title;
        margin-top: 0;
      }
      &__slider{
        margin-top: 97px;
        display: flex;
        justify-items: center;
        align-items: center;
        &_item{
            -webkit-user-select: none;  /* Chrome all / Safari all */
            -moz-user-select: none;     /* Firefox all */
            -ms-user-select: none;      /* IE 10+ */
            user-select: none;          /* Likely future */      
            text-align: center;
        }
      }

      [data-action="stop"], [data-action="start"], .tns-liveregion{
          display: none;
      }
  }
}




// .section__contact
.section__contact{
    height: 525px;
    background-image: url("../../imgs/Bg_Dots.png");
    background-size: cover;
    background-position: center;
    margin-top: 130px;
    padding-top: 60px;
    .contact{
        &__title{
            @include section__title;
            margin-top: 0;
        }
        position: relative;
        &__block{
            position: absolute;
            left: 20%;
            top: 40%;
            padding: 52px 68px;
            width: 765px;
            box-shadow: 0 -80px 81px 14px rgba(224, 241, 255, 0.34);
            border-radius: 6px;
            background-color: #ffffff;
            margin: 0 auto;
            margin-top: 100px;
            .form_title{
                color: #000000;
                font-family: $s-font;
                font-size: 22px;
                font-weight: 400;
                
                text-align: center;
            }
            .contact_form{
                
                .inline-form-group, .form-group{
                    input, textarea, button{
                        border: 0;
                        &:focus{
                            outline: 0;
                            border-bottom: 2px solid #000000;
                        }
                    }
                    .message{
                        height: 100px;
                        width: 100%;
                        border-bottom: 2px solid #00000020;
                        padding: 10px 5px;
                        margin-top: 60px;
                    }
                }
                .inline-form-group{
                    margin-top: 60px;
                    display: flex;
                    justify-content: space-between;
                    input{
                        flex-basis: calc(50% - 41px);
                        padding: 20px 5px ;
                        border-bottom: 2px solid #00000020;
                        color: #00000080;
                        font-family: $t-font;
                        font-size: 15px;
                        font-weight: 400;
                        line-height: 28px;
                        
                    }
                }

                .form-group{
                    text-align: center;
                    .submit_button{
                        border-radius: 6px;
                        background-color: #41228e;
                        color: #ffffff;
                        font-family: $s-font;
                        font-size: 22px;
                        font-weight: 400;
                        
                        text-transform: uppercase;
                        padding: 21px 150px;
                        margin-top: 42px;
                        transition: .3s;
                        &:hover{
                            background-color: #51228e;
                            box-shadow: 0 10px 30px 14px rgba(65,34,142, 0.14);
                        }
                    }
                }
            }
        }
    }
}



.footer{
    height: 543px;
    background-color: #222222;
    .container{
        
    }
    .top_footer{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        padding-top: 280px;
        grid-gap: 146px;
        &_item{
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            & > span{
                display: block;
            }
            .label{
                opacity: 0.4;
                color: #ffffff;
                font-family: $s-font;
                font-size: 18px;
                font-weight: 400;
            }

            .item_value{
                color: #ffffff;
                font-family: $s-font;
                font-size: 22px;
                font-weight: 400;
                margin-top: 25px;
            }
        }
    }

    .bottom_footer{
        margin-top: 62px;
        border-top: 1px solid #ffffff12;
        align-items: center;
        padding-top: 47px;
        .container{
            display: flex;
            justify-content: space-between;

            & > span{
                opacity: 0.7;
                color: #ffffff;
                font-family: $t-font;
                font-size: 15px;
                font-weight: 400;
                line-height: 28px;
            }
            .developer{
                
                a{
                    opacity: 1;
                    color: #fff;
                }
            }

        }
    }
}


#hamburger{
    display: none;
}




/* On screens that are 1048px or less, set the background color to olive */
@media screen and (max-width: 1048px) {
    body {
    //   background-color: olive;
    
    }

    .container{
        width: 100%;
    }
// section__skills
.header{
    // height: auto;
    .leaf1, .leaf2, .leaf3, .leaf3, .leaf4, .leaf5{
        display: none;
    }

    #hamburger{
        display: inline-block;
    }
    .container-fluid{
        width: 100%;
        padding: 15px 22px;
        grid-template-columns: 1fr 1fr;
        justify-items: unset;
        .menu{
            text-align: right;
            .menu_list{
                display: flex;
                
                opacity: 0;
                transition: background-color .3s;
                position: absolute;
                flex-direction: column;
                max-height: 0;
                width: 100%;
                left: 0;
                padding: 0 30px;
                background-color: darkslateblue;
                .list__link{
                    margin-left: 36px;
                    color: #ffffff;
                    font-size: 0;
                    line-height: 68px;
                    text-transform: uppercase;
                    font-family: "Poppins", sans-serif;
                    font-weight: 400;
                    text-decoration: none;
                    transition: .3s;
                }

                &.active{
                    opacity: 1;
                    max-height: fit-content;
                    top: 114px;
                    flex-direction: revert;
                    .list__link{
                        font-size: 1.5em;
                    }
                }
            }
        }
    }
    &__content{
        margin-top: 100px;
        
        &__title{
            padding-left: 20px;
            font-size: 48px;
        }   
    }
}






// .section__portfolio

.section__portfolio{
    margin-top: 150px;
    .portfolio{
        padding: 0 30px;
        
        
        &__block{

            margin-top: 50px;
            column-count: 2;
            
            &__item{
              &:nth-child(1){
                margin-top: 0em;
              }
                .portfolio_img{
                    img{
                        width: 100%;
                    }
                }
                &:nth-child(1){
                    grid-column: 1;
                    grid-row: 1 / 3;
                }
            }
        }
    }
}






// .section__brands
.section__brands{
    margin-top: 50px;
    .brand{
        overflow: hidden;            
        &__slider{

            &_item{
                text-align: center;
            }
        }

    }
}







// .section__contact
.section__contact{
    height: 525px;
    background-image: url("../../imgs/Bg_Dots.png");
    background-size: cover;
    background-position: center;
    margin-top: 100px;
    padding-top: 30px;
    .contact{
        
        
        position: relative;
        &__block{
            position: absolute;
            left: 0%;
            top: 40%;
            padding: 52px 30px;
            width: 100%;
            box-shadow: 0 -80px 81px 14px rgba(224, 241, 255, 0.34);
            border-radius: 1px;
            background-color: #ffffff;
            margin: 0 auto;
            margin-top: 50px;
            .form_title{
                color: #000000;
                font-family: $s-font;
                font-size: 22px;
                font-weight: 400;
                
                text-align: center;
            }
            .contact_form{
                
                .inline-form-group, .form-group{
                    input, textarea, button{
                        border: 0;
                        &:focus{
                            outline: 0;
                            border-bottom: 2px solid #000000;
                        }
                    }
                    .message{
                        height: 100px;
                        width: 100%;
                        border-bottom: 2px solid #00000020;
                        padding: 10px 5px;
                        margin-top: 60px;
                    }
                }
                .inline-form-group{
                    margin-top: 60px;
                    display: flex;
                    justify-content: space-between;
                    flex-direction: row;
                    input{
                        flex-basis: calc(100%);
                        padding: 20px 5px ;
                        border-bottom: 2px solid #00000020;
                        color: #00000080;
                        font-family: $t-font;
                        font-size: 15px;
                        font-weight: 400;
                        line-height: 28px;
                        
                    }
                }

                .form-group{
                    text-align: center;
                    .submit_button{
                        border-radius: 6px;
                        background-color: #41228e;
                        color: #ffffff;
                        font-family: $s-font;
                        font-size: 22px;
                        font-weight: 400;
                        
                        text-transform: uppercase;
                        padding: 21px 0;
                        width: 100%;
                        margin-top: 42px;
                        transition: .3s;
                        &:hover{
                            background-color: #51228e;
                        }
                    }
                }
            }
        }
    }
}







.footer{
    height: auto;
    
    .container{
        padding: 0 22px;
    }
    .top_footer{
        
        grid-template-columns: 1fr;
        padding-top: 280px;
        grid-gap: 46px;
        &_item{
            
            flex-direction: column;
            
            & > span{
            }
            .label{
            }

            .item_value{

            }
        }
    }

    .bottom_footer{
        
        padding-top: 27px;
        padding-bottom: 27px;
        .container{
            flex-direction: column;
            text-align: center;
            & > span{
            }
            .developer{
                
                a{
                    opacity: 1;
                    color: #fff;
                }
            }

        }
    }
}





  }



/* On screens that are 769px or less, set the background color to olive */
@media screen and (max-width: 769px) {

  @mixin section__title {
    margin-top: 120px;

    font-size: 48px;

  }
    body {
    //   background-color: olive;
    
    }

    .container{
        width: 100%;
    }
// section__skills
.header{
    // height: auto;
    .leaf1, .leaf2, .leaf3, .leaf3, .leaf4, .leaf5{
        display: none;
    }

    #hamburger{
        display: inline-block;
    }
    .container-fluid{
        width: 100%;
        padding: 15px 22px;
        grid-template-columns: 1fr 1fr;
        justify-items: unset;
        .menu{
            text-align: right;
            .menu_list{
                display: flex;
                /* width: 0; */
                opacity: 0;
                transition: background-color .3s;
                position: absolute;
                flex-direction: column;
                max-height: 0;
                width: 100%;
                left: 0;
                padding: 0 30px;
                background-color: darkslateblue;
                .list__link{
                    margin-left: 36px;
                    color: #ffffff;
                    font-size: 0;
                    line-height: 68px;
                    text-transform: uppercase;
                    font-family: "Poppins", sans-serif;
                    font-weight: 400;
                    text-decoration: none;
                    transition: .3s;
                }

                &.active{
                    opacity: 1;
                    max-height: fit-content;
                    top: 114px;
                    flex-direction: column;
                    .list__link{
                        font-size: 1.5em;
                    }
                }
            }
        }
    }
    &__content{
        margin-top: 50px;
        
        &__title{
            padding-left: 20px;
            font-size: 36px;
        }   
    }
}




// .section__portfolio

.section__portfolio{
    margin-top: 50px;
    .portfolio{
        padding: 0 22px;
      &__filter{
        text-align: center;
        margin-top: 80px;
        a{
          
          padding: 5px 10px;
          margin-top: 10px;
          display: inline-block;
          &:not(:last-child){
            margin-right: 5px;
          }

          &.active{
            font-weight: 700;
            border: 1px solid #41228e;
          }
          &:hover{
            border: 1px dotted #41228e;
          }
        }
      }

      &__block{
          margin-top: 50px;
          column-count: 1;
          column-gap: 2em;
          
          
          &__item{
              .portfolio_img{
                  img{
                      width: 100%;
                  }
              }
              &:nth-child(1){
                  grid-column: 1;
                  grid-row: 1 / 3;
              }
          }
      }
      

    }

    
}





// .section__brands
.section__brands{
    margin-top: 50px;
    .brand{
        overflow: hidden;            
        &__slider{

            &_item{
                text-align: center;
            }
        }

    }
}





// .section__contact
.section__contact{
    height: 525px;
    background-image: url("../../imgs/Bg_Dots.png");
    background-size: cover;
    background-position: center;
    margin-top: 100px;
    padding-top: 30px;
    .contact{
        &__title{
            @include section__title;
            margin-top: 0;
            font-size: 48px;
        }
        position: relative;
        &__block{
            position: absolute;
            left: 0%;
            top: 40%;
            padding: 52px 22px;
            width: 100%;
            box-shadow: 0 -80px 81px 14px rgba(224, 241, 255, 0.34);
            border-radius: 1px;
            background-color: #ffffff;
            margin: 0 auto;
            margin-top: 50px;
            .form_title{
                color: #000000;
                font-family: $s-font;
                font-size: 22px;
                font-weight: 400;
                
                text-align: center;
            }
            .contact_form{
                
                .inline-form-group, .form-group{
                    input, textarea, button{
                        border: 0;
                        &:focus{
                            outline: 0;
                            border-bottom: 2px solid #000000;
                        }
                    }
                    .message{
                        height: 100px;
                        width: 100%;
                        border-bottom: 2px solid #00000020;
                        padding: 10px 5px;
                        margin-top: 60px;
                    }
                }
                .inline-form-group{
                    margin-top: 60px;
                    display: flex;
                    justify-content: space-between;
                    flex-direction: column;
                    input{
                        flex-basis: calc(100%);
                        padding: 20px 5px ;
                        border-bottom: 2px solid #00000020;
                        color: #00000080;
                        font-family: $t-font;
                        font-size: 15px;
                        font-weight: 400;
                        line-height: 28px;
                        
                    }
                }

                .form-group{
                    text-align: center;
                    .submit_button{
                        border-radius: 6px;
                        background-color: #41228e;
                        color: #ffffff;
                        font-family: $s-font;
                        font-size: 22px;
                        font-weight: 400;
                        
                        text-transform: uppercase;
                        padding: 21px 0;
                        width: 100%;
                        margin-top: 42px;
                        transition: .3s;
                        &:hover{
                            background-color: #51228e;
                        }
                    }
                }
            }
        }
    }
}







.footer{
    height: auto;
    
    .container{
        padding: 0 22px;
    }
    .top_footer{
        
        grid-template-columns: 1fr;
        padding-top: 280px;
        grid-gap: 46px;
        &_item{
            
            flex-direction: column;
            
            & > span{
            }
            .label{
            }

            .item_value{

            }
        }
    }

    .bottom_footer{
        
        padding-top: 27px;
        padding-bottom: 27px;
        .container{
            flex-direction: column;
            text-align: center;
            & > span{
            }
            .developer{
                
                a{
                    opacity: 1;
                    color: #fff;
                }
            }

        }
    }
}





  }
