@import '../core/core.scss';
@import '../core/vars.scss';

.header{
    background-image: url("../../imgs/bg-1.svg");
    height: 950px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    

    .container-fluid{
        box-sizing: border-box;
        width: 100%;
        display: grid;
        grid-template-columns: auto 1fr;
        justify-items: end;

        padding: 30px 112px;
        .logo{
            display: inline-flex;
            justify-items: center;
            align-items: center;
            z-index: 1000;
        }
        .menu{
            z-index: 1000;

            &_list{
                .list__link{
                    /* Style for "HOME" */
                    margin-left: 36px;
                    color: #ffffff;
                    
                    font-size: 18px;
                    line-height: 84px;
                    text-transform: uppercase;
                    /* Text style for "ABOUT" */
                    font-family: $p-font;
                    font-weight: 400;
                    text-decoration: none;
                    transition: .3s;
                    &:hover, &.active{
                        color: #999;
                    }
                }
            }
        } 
    }
    
    &__content{
        margin-top: 220px;
        &__title{
            
            /* Style for "Hi! I’m  C" */
            color: #ffffff;
            font-family: $p-font;
            font-size: 80px;
            font-weight: 700;
            /* Text style for "Hi! I’m  ," */
            line-height: 97px;
            /* Text style for "," */
            font-size: 60px;
            line-height: 85px;
            padding-left: 100px;
        }
    }

    .social{
        position: absolute;
        left: 76px;
        bottom: 70px;
        display: flex;
        flex-direction: column;
        .social__link{
            display: inline-block;
            width: 24px;
            height: 18px;
            margin-top: 24px;
        }
    }

    .leaf1, .leaf2, .leaf3, .leaf4, .leaf4, .leaf5, .leaf6{
        // transition: transform linear .1s;
        z-index: 0;
    }

    .leaf1{
        position: absolute;
        bottom: 16%;
        right: 0px;
        // animation: moveLeft 3s linear forwards;
    }
    .leaf2{
        position: absolute;
        top: 13%;
        right: -173px;
    }
    .leaf3{
        position: absolute;
        top: 20%;
        left: 41%;
    }
    .leaf4{
        position: absolute;
        top: 18%;
        left: -300px;
        // animation: moveRight 2s linear forwards;
    }
    .leaf5{
        position: absolute;
        bottom: -43px;
        left: 0%;
        // animation: moveRight2 5s ease-in forwards;
    }
    .leaf6{
        position: absolute;
        bottom: 19%;
        right: 34%;
        
    }
}

@keyframes moveLeft{
    0%{
        
    }
    25%{
        right: 5%;
    }
    100%{
        bottom: 10%;        
    }
}

@keyframes moveRight{
    0%{
        left: 0;
    }
    25%{
        left: -100px;
    }
    100%{
        left: -300px;
    }
}

@keyframes moveRight2{
    0%{
        left: 15%;
    }
    25%{
        bottom: -43px;
        left: 0%;
        transform: scale(1.2);
    }
    100%{
        left: 16%;
        transform: scale(1);
    }
}

// section__skills

.section__skills{
    padding: 80px 0;
    text-align: center;
    .about_me{
        &__text{
            color: #000000;
            font-family: $s-font;
            font-size: 22px;
            font-weight: 400;
            line-height: 36px;
            text-align: center;
            padding: 0 100px;
        }
    
        .know_more{
            color: #41228e;
            font-family: $s-font;
            font-size: 18px;
            font-weight: 700;
            line-height: 84px;
            text-transform: uppercase;
            text-decoration: none;
            margin-top: 48px;
        }
    }

    .skills{
        &__title{
            margin-top: 120px;
            @include section__title;
        }
        &__block{
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            margin-top: 100px;
            &__item{
                width: 270px;
                min-height: 224px;
                box-shadow: 0 59px 39px 7px rgba(224, 241, 255, 0.34);
                background-color: #ffffff;
                

                .item_fill{
                    position: relative;
                    overflow: hidden;
                    height: 154px;
                }

                .item_fill_wave{
                    height: 154px;
                    
                    &::before{
                        content: '';
                        display: block;
                        width: 600px;
                        height: 600px;
                        bottom: 45%;
                        left: -160px;
                        position: absolute;
                        z-index: 10;
                        transition: 1s;
                        border-radius: 47%;
                        animation-name: rotate;
                        animation-timing-function: linear;
                        animation-duration: 10s;
                        animation-fill-mode: forwards;
                        animation-iteration-count: infinite;

                    }
                    &::after{
                        content: '';
                        display: block;
                        width: 600px;
                        height: 600px;
                        bottom: 50%;
                        left: -150px;
                        position: absolute;
                        z-index: 10;
                        transition: 1s;
                        border-radius: 47%;
                        animation-name: rotate2;
                        animation-timing-function: linear;
                        animation-duration: 10s;
                        animation-fill-mode: forwards;
                        animation-iteration-count: infinite;

                    }
                }

                &:nth-child(1){
                    .item_fill{
                        background-color: #fdb157;
                    }
                    .item_fill_wave{
                        height: 154px;
                        &:nth-child(1){
                            &::before{
                                background-color: #fed09a;
                            }
                            &::after{
                                background-color: #fcf8f3;
                            }
                        }
                        
                    }
                }

                &:nth-child(2){
                    .item_fill{
                        background-color: #9473e6;
                    }
                    .item_fill_wave{
                        &::before{
                            background-color: #bfabf0;
                        }
                        &::after{
                            background-color: #f9f7fe;
                        }
                    }
                }
                &:nth-child(3){
                    .item_fill{
                        background-color: #bdecf6;
                    }
                    .item_fill_wave{
                        &::before{
                            background-color: #d7f4fa;    
                        }
                        &::after{
                            background-color: #f2fbfd;

                        }
                    }
                }
                &:nth-child(4){
                    .item_fill{
                        background-color: #13bb66;
                    }
                    .item_fill_wave{
                        &::before{
                            background-color: #42ff9f;
                        }
                        &::after{
                            background-color: #effbf5;
    
                        }
                    }
                }
                
                .item_footer{

                    color: #000000;
                    font-family: $s-font;
                    font-size: 22px;
                    font-weight: 400;
                    line-height: 84px;
                }
            }
        }
    }
    
}

@keyframes rotate{
    0%{
        transform: rotateZ(0deg);
    }
    50%{
        transform: rotateZ(180deg);
    }
    100%{
        transform: rotateZ(360deg);
    }
}
@keyframes rotate2{
    0%{
        transform: rotateZ(0deg);
    }
    50%{
        transform: rotateZ(-180deg);
    }
    100%{
        transform: rotateZ(-360deg);
    }
}


// .section__experience
.section__experience{
    background-image: url("../../imgs/Line.png");
    background-position: 0 250px;
    background-size: cover;
    background-repeat: no-repeat;
    .experience{

        &__title{
            @include section__title;
        }

        &__block{
            margin-top: 85px;
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            &__item{
                text-align: center;
                .icon_rect{
                    width: 64px;
                    height: 64px;
                    margin: 0 auto;
                    // opacity: 0.27;
                    border-radius: 50%;
                    position: relative;
                    padding: 5px;
                    &::before{
                        content: '';
                        top: 0px;
                        left: 0px;
                        border-radius: 50%;
                        display: inline-block;
                        position: absolute;
                        width: 100%;
                        height: 100%;
                        // border-top: 15px solid #fff;           
                        
                    }
                    
                    &::after{
                        content: '';
                        top: 11px;
                        left: 11px;
                        border-radius: 50%;
                        display: inline-block;
                        position: absolute;
                        width: 50px;
                        height: 50px;
                        // border: 8px solid rgba(245,77,161,1);
                        background: #fff;    
                        // background-clip: content-box;
                    }
                }

                .item_footer{
                    & > span{
                        
                        display: block;
                    }
                    .years_experience{
                        color: #000000;
                        font-family: $t-font;
                        font-size: 18px;
                        font-weight: 400;
                        margin-top: 41px;
                    }
                    .title_experience{
                        color: #000000;
                        font-family: $s-font;
                        font-size: 22px;
                        font-weight: 400;
                        margin-top: 20px;
                    }
                    .place_experience{
                        opacity: 0.4;
                        color: #000000;
                        font-family: $s-font;
                        font-size: 22px;
                        font-weight: 400;
                        text-transform: uppercase;
                        margin-top: 15px;
                    }
                   
                }

                &:nth-child(1){
                    .icon_rect{
                        box-shadow: 0 0 21px 8px #f555a515;
                        background-image: linear-gradient(35deg, #f54ea2 0%, #fda4d1 98%, #fda4d1 100%);
                    }
                }

                &:nth-child(2){
                    .icon_rect{
                        box-shadow: 0 0 21px 8px rgba(255, 162, 51, 0.1);
                        background-image: linear-gradient(-16deg, #ff9e2b 0%, #fae0c2 97%, #fae0c2 100%);
                    }
                    
                }
                &:nth-child(3){
                    .icon_rect{
                        box-shadow: 0 0 21px 8px rgba(46, 251, 228, 0.1);
                        background-image: linear-gradient(35deg, #1cffd2 0%, #46f7fd 98%, #46f7fd 100%);
                    }
                    
                }
            }
        }
    }
    z-index: -1;
}


// .section__education
.section__education{
    position: relative;
    height: 900px;
    z-index: 10;
    .bg{
        top: -170px;
        left: 0;
        position: absolute;
        height: 150%;
        width: 100%;
        background-image: url("../../imgs/dots-with-line.png");
        background-repeat: no-repeat;
        background-position:0 0px;
        background-size: 104%;
        z-index: -1;
    }

    .education{
        z-index: 20;
        padding-top: 200px;
        &__title{
            @include section__title;
            margin-top: 0;
        }

        &__block{
            margin-top: 108px;
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr 1fr;
            grid-auto-rows: auto;
            grid-gap: 88px;
            &__item{
                display: grid;
                grid-template-columns: 1fr 2fr;
                justify-items: baseline;
                align-items: center;
                .education_icon{
                    width: 101px;
                    height: 101px;
                    box-shadow: 0 18px 39px 7px rgba(224, 241, 255, 0.34);
                    background-color: #ffffff;
                    border-radius: 50%;
                    display: inline-flex;
                    align-items: center;
                    justify-content: center;
                    svg{
                        fill: #c8d5ef;
                        width: 50%;
                    }
                }
                .item_footer{
                    & > span{
                        display: block;
                        font-weight: 400;
                        color: #000000;
                    }
                    .years_education{
                        font-family: $t-font;
                        font-size: 18px;
                        
                    }

                    .title_education{
                        font-family: $s-font;
                        font-size: 22px;
                        margin-top: 20px;
                    }
                    .place_education{
                        margin-top: 16px;
                        opacity: 0.4;
                        font-family: $s-font;
                        font-size: 18px;
                    }
                }
            }
        }
    }
    
}


// .section__service
.section__service{
    .service{
        &__title{
            @include section__title;
            margin-top: 0;
        }

        &__block{
            margin-top: 100px;
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            grid-column-gap: 2em;
            &__item{
                text-align: center;
                padding: 80px 50px;
                .title{
                    color: #000000;
                    font-family: $s-font;
                    font-size: 22px;
                    font-weight: 400;
                    margin-top: 52px;
                }
                .item_footer{
                    margin-top: 28px;
                    opacity: 0.7;
                    color: #000000;
                    font-family: $t-font;
                    font-size: 15px;
                    font-weight: 400;
                    line-height: 28px;
                }
                &.active{
                    box-shadow: 0 59px 39px 7px rgba(224, 241, 255, 0.34);
                    border-radius: 3px;
                    background-color: #41228e;
                    .title{
                        color: #ffffff;
                    }
                    .item_footer{
                        opacity: 0.7;
                        color: #ffffff;
                    }
                }
                transition: all .3s;
                &:hover{
                    box-shadow: 0 59px 39px 7px rgba(224, 241, 255, 0.34);
                    border-radius: 3px;
                    background-color: #41228e;
                    .title{
                        color: #ffffff;
                    }
                    .item_footer{
                        opacity: 0.7;
                        color: #ffffff;
                    }
                }
            }
        }
    }
}

// .section__portfolio

.section__portfolio{
    .portfolio{
        &__title{
            @include section__title;
            margin-top: 176px;
        }

        &__block{
            margin-top: 100px;
            column-count: 3;
            column-gap: 2em;
            &__item{
                margin-top: 1.4em;
                &:nth-child(1){
                    margin-top: 0;
                }
                .portfolio_img{
                    img{
                        width: 100%;
                    }
                }
                &:nth-child(1){
                    grid-column: 1;
                    grid-row: 1 / 3;
                }
            }
        }
    }
}



// .section__testimonials
.section__testimonials{
    margin-top: 175px;
    background-color: #41228e;
    height: 770px;
    
    .testimonials{
        background-image: url("../../imgs/Map.svg");
        background-position: 0 100px ;
        background-repeat: no-repeat;
        background-size: 108%;
        overflow: hidden;
        &__title{
            @include section__title;
            color: #ffffff;
            line-height: unset;
            margin-top: 110px;
            &::after{
                display: block;
                content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='58' height='46' viewBox='0 0 58 46'%3E%3Cg%3E%3Cg%3E%3Cpath fill='%23fff' d='M58 19.684c.114-4.96-1.394-8.864-3.367-11.833-1.659-3.54-4.524-6.158-7.867-7.188A6.811 6.811 0 0 0 46.27.43c-1.48-.58-3.491-.447-3.491-.447l-.031.242c-.218.018-.435.023-.655.055-6.693.951-11.31 8.012-10.312 15.771.998 7.759 7.233 13.277 13.927 12.326a10.791 10.791 0 0 0 3.417-1.096c-1.345 11.323-7.5 18.707-7.5 18.707 7.502-.383 16.058-12.45 16.375-26.304zm-31.676 0c.113-4.96-1.394-8.864-3.367-11.833-1.66-3.54-4.525-6.158-7.867-7.188a6.794 6.794 0 0 0-.497-.233c-1.479-.58-3.49-.447-3.49-.447l-.032.242c-.218.018-.435.023-.654.055C3.724 1.231-.893 8.292.105 16.051c.998 7.759 7.233 13.277 13.926 12.326a10.79 10.79 0 0 0 3.417-1.096c-1.344 11.323-7.5 18.707-7.5 18.707 7.502-.383 16.058-12.45 16.376-26.304z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
                width: 100%;
                margin-top: 40px;
                
            }
        }
        &_slider{
            display: flex;            
            
            &__item{
                text-align: center;
                display: grid;
                justify-items: center;
                padding: 0 110px;
                .testimonial_text{
                    margin-top: 20px;        
                    color: #ffffff;
                    font-family: $s-font;
                    font-size: 18px;
                    font-weight: 400;
                    line-height: 36px;
                    .marked{
                        color: #2bfdff;
                    }
                }

                .person_photo{
                    margin-top: 44px;
                    width: 106px;
                    height: 106px;
                    border-radius: 50%;
                    overflow: hidden;
                }
                .person_name{
                    color: #ffffff;
                    font-family: $s-font;
                    font-size: 22px;
                    font-weight: 400;
                    margin-top: 25px;
                }
                .person_title{
                    opacity: 0.4;
                    color: #ffffff;
                    font-family: $s-font;
                    font-size: 18px;
                    font-weight: 400;
                    margin-top: 10px;
                }
                
            }
        }
        [data-action="stop"], [data-action="start"], .tns-liveregion{
            display: none;
        }

        .tns-nav{
            margin-top: 30px;
            text-align: center;
            & > button{
                width: 11px;
                height: 6px;
                border-radius: 3px;
                background-color: #ffffff;
                opacity: 0.37;
                border: 0;
                margin-left: 4px;
                transition: .3s;
                &.tns-nav-active{
                    position: relative;
                    // &::after{
                    //     position: absolute;
                    //     top: 0;
                    //     left: -8px;
                        
                    //     background-color: #000;
                    //     content: '';
                    //     height: 6px;
                    //     width: 8px;
                    //     border-radius: 2px;
                    //     animation: pullLeft 1.5s linear forwards;
                    // }
                    &::after{
                        position: absolute;
                        top: 0;                        
                        background-color: #fff;
                        content: '';
                        height: 6px;
                        width: 10px;
                        border-radius: 2px;
                        animation: pullLeft .5s linear forwards;
                    }
                    &::before{
                        position: absolute;
                        top: 0;
                        
                        background-color: #fff;
                        content: '';
                        height: 6px;
                        width: 10px;
                        border-radius: 2px;
                        animation: pullRight .5s linear forwards;
                    }
                    padding-right: 15px;
                    padding-left: 15px;
                    opacity: 1;
                }
            }

        }
    }

    position: relative;
    .leaf1{
        position: absolute;
        top: 51px;
        right: 258px;
    }
    .leaf2{
        position: absolute;
        left: 135px;
        bottom: 190px;
    }
    .leaf3{
        position: absolute;
        right: 200px;
        bottom: -30px;
    }
    .vertical-dots{
        position: absolute;
        left: 135px;
        top: -40px;
    }
}

@keyframes pullLeft{
    from { 
        right: 8px;
    }

    to{
        right: 0px;
    }
}

@keyframes pullRight{
    from {
        left: -8px;
    }

    to{
        left: 0px;
    }
}


// .section__brands
.section__brands{
    margin-top: 140px;
    .brand{
        overflow: hidden;            
        &__slider{
            display: flex;
            justify-items: center;
            align-items: center;
            &_item{
                -webkit-user-select: none;  /* Chrome all / Safari all */
                -moz-user-select: none;     /* Firefox all */
                -ms-user-select: none;      /* IE 10+ */
                user-select: none;          /* Likely future */      
                text-align: center;
            }
        }

        [data-action="stop"], [data-action="start"], .tns-liveregion{
            display: none;
        }
    }
}



// .section__blogs
.section__blogs{
    
    .blogs{
        &__title{
            @include section__title;
        }
        &__block{
            margin-top: 90px;
            display: grid;
            grid-template-columns: 2fr 1fr;
            grid-gap: 1.5em;
            
            
            &__item{
                box-shadow: 0 59px 39px 7px rgba(224, 241, 255, 0.34);
                border-radius: 6px;
                background-color: #ffffff;
                display: flex;
                flex-direction: column-reverse;
                justify-content: space-between;
                align-items: center;
                min-height: 500px;

                .blog_img{
                    width: 100%;
                    img{
                        width: 100%;
                    }
                }
                
                .blog_content{
                    padding-top: 34px;
                    padding-left: 30px;
                    padding-right: 30px;
                    padding-bottom: 23px;
                    .blog_title{
                        color: #000000;
                        font-family: $s-font;
                        font-size: 22px;
                        font-weight: 400;
                        line-height: 36px;
                    }
                    .blog_preview{
                        opacity: 0.7;
                        color: #000000;
                        font-family: $t-font;
                        font-size: 15px;
                        font-weight: 300;
                        line-height: 25px;
                        margin-top: 10px;
                    }
                    .blog_category{
                        margin-top: 15px;
                        background-color: #41228e20;
                        color: #41228e;
                        font-family: $s-font;
                        font-size: 15px;
                        font-weight: 400;
                        line-height: 16px;
                        padding: 6px 12px;
                        text-decoration: none;
                        display: inline-block;
                    }
                }
                
                &.wide{
                    flex-direction: row;
                    .blog_content, .blog_img{
                        flex-basis: calc(100% / 2);
                        height: 100%;
                        display: flex;
                        flex-direction: column;
                        align-items: flex-start;
                        justify-content: center;
                        img{
                            height: 100%;
                        }
                    }

                    .blog_content{
                        padding: 78px 56px;
                        
                        .blog_title{
                            color: #000000;
                            font-family: $s-font;
                            font-size: 22px;
                            font-weight: 400;
                            line-height: 36px;
                        }
                        .blog_preview{
                            opacity: 0.7;
                            color: #000000;
                            font-family: $t-font;
                            font-size: 15px;
                            font-weight: 300;
                            line-height: 25px;
                            margin-top: 21px;
                        }
                        .blog_category{
                            margin-top: 52px;
                            background-color: #41228e20;
                            color: #41228e;
                            font-family: $s-font;
                            font-size: 15px;
                            font-weight: 400;
                            line-height: 16px;
                            padding: 6px 12px;
                            text-decoration: none;
                            justify-self: left;
                        }
                    }
                }
                top: 0;
                transition: .2s;
                position: relative;
                &:hover{
                    // box-shadow: 0 59px 39px 7px rgba(224, 241, 255, 0.34);
                    top: -10px;
                    -webkit-box-shadow: -17px 104px 211px -30px rgba(112,112,112,0.79);
                    -moz-box-shadow: -17px 104px 211px -30px rgba(112,112,112,0.79);
                    box-shadow: -17px 60px 60px -30px rgba(112,112,112,0.19);
                    // margin-bottom: 10px;
                    top: -20px;
                    cursor: pointer;
                }
            }
        }
    }
}


// .section__contact
.section__contact{
    height: 525px;
    background-image: url("../../imgs/Bg_Dots.png");
    background-size: cover;
    background-position: center;
    margin-top: 130px;
    padding-top: 60px;
    .contact{
        &__title{
            @include section__title;
            margin-top: 0;
        }
        position: relative;
        &__block{
            position: absolute;
            left: 20%;
            top: 40%;
            padding: 52px 68px;
            width: 765px;
            box-shadow: 0 -80px 81px 14px rgba(224, 241, 255, 0.34);
            border-radius: 6px;
            background-color: #ffffff;
            margin: 0 auto;
            margin-top: 100px;
            .form_title{
                color: #000000;
                font-family: $s-font;
                font-size: 22px;
                font-weight: 400;
                
                text-align: center;
            }
            .contact_form{
                
                .inline-form-group, .form-group{
                    input, textarea, button{
                        border: 0;
                        &:focus{
                            outline: 0;
                            border-bottom: 2px solid #000000;
                        }
                    }
                    .message{
                        height: 100px;
                        width: 100%;
                        border-bottom: 2px solid #00000020;
                        padding: 10px 5px;
                        margin-top: 60px;
                    }
                }
                .inline-form-group{
                    margin-top: 60px;
                    display: flex;
                    justify-content: space-between;
                    input{
                        flex-basis: calc(50% - 41px);
                        padding: 20px 5px ;
                        border-bottom: 2px solid #00000020;
                        color: #00000080;
                        font-family: $t-font;
                        font-size: 15px;
                        font-weight: 400;
                        line-height: 28px;
                        
                    }
                }

                .form-group{
                    text-align: center;
                    .submit_button{
                        border-radius: 6px;
                        background-color: #41228e;
                        color: #ffffff;
                        font-family: $s-font;
                        font-size: 22px;
                        font-weight: 400;
                        
                        text-transform: uppercase;
                        padding: 21px 150px;
                        margin-top: 42px;
                        transition: .3s;
                        &:hover{
                            background-color: #51228e;
                            box-shadow: 0 10px 30px 14px rgba(65,34,142, 0.14);
                        }
                    }
                }
            }
        }
    }
}



.footer{
    height: 543px;
    background-color: #222222;
    .container{
        
    }
    .top_footer{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        padding-top: 280px;
        grid-gap: 146px;
        &_item{
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            & > span{
                display: block;
            }
            .label{
                opacity: 0.4;
                color: #ffffff;
                font-family: $s-font;
                font-size: 18px;
                font-weight: 400;
            }

            .item_value{
                color: #ffffff;
                font-family: $s-font;
                font-size: 22px;
                font-weight: 400;
                margin-top: 25px;
            }
        }
    }

    .bottom_footer{
        margin-top: 62px;
        border-top: 1px solid #ffffff12;
        align-items: center;
        padding-top: 47px;
        .container{
            display: flex;
            justify-content: space-between;

            & > span{
                opacity: 0.7;
                color: #ffffff;
                font-family: $t-font;
                font-size: 15px;
                font-weight: 400;
                line-height: 28px;
            }
            .developer{
                
                a{
                    opacity: 1;
                    color: #fff;
                }
            }

        }
    }
}


#hamburger{
    display: none;
}




/* On screens that are 1048px or less, set the background color to olive */
@media screen and (max-width: 1048px) {
    body {
    //   background-color: olive;
    
    }

    .container{
        width: 100%;
    }
// section__skills
.header{
    // height: auto;
    .leaf1, .leaf2, .leaf3, .leaf3, .leaf4, .leaf5{
        display: none;
    }

    #hamburger{
        display: inline-block;
    }
    .container-fluid{
        width: 100%;
        padding: 15px 22px;
        grid-template-columns: 1fr 1fr;
        justify-items: unset;
        .menu{
            text-align: right;
            .menu_list{
                display: flex;
                
                opacity: 0;
                transition: background-color .3s;
                position: absolute;
                flex-direction: column;
                max-height: 0;
                width: 100%;
                left: 0;
                padding: 0 30px;
                background-color: darkslateblue;
                .list__link{
                    margin-left: 36px;
                    color: #ffffff;
                    font-size: 0;
                    line-height: 68px;
                    text-transform: uppercase;
                    font-family: "Poppins", sans-serif;
                    font-weight: 400;
                    text-decoration: none;
                    transition: .3s;
                }

                &.active{
                    opacity: 1;
                    max-height: fit-content;
                    top: 114px;
                    flex-direction: revert;
                    .list__link{
                        font-size: 1.5em;
                    }
                }
            }
        }
    }
    &__content{
        margin-top: 200px;
        
        &__title{
            padding-left: 20px;
            font-size: 36px;
        }   
    }
}



// .section__skills{
.section__skills{
    padding: 80px 0;
    text-align: center;
    .about_me{
        &__text{
            padding: 0 22px;
        }
    
        .know_more{
    
        }
    }

    .skills{
        &__title{

        }
        &__block{
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            margin-top: 50px;
            justify-items: center;
            grid-gap: 2em;
        }
    }
    
}




// .section__experience
.section__experience{
    background-image: url("../../imgs/Line.png");
    .experience{

        &__title{
            
        }

        &__block{
            margin-top: 50px;
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-row-gap: 3em;
            &__item{

                .icon_rect{

                    &::before{

                    }
                    
                    &::after{

                    }
                }

                .item_footer{
                    & > span{

                    }
                    .years_experience{

                    }
                    .title_experience{

                    }
                    .place_experience{

                    }
                   
                }

             
            }
        }
    }
    z-index: -1;
}



// .section__education
.section__education{
    height: auto;
    margin-top: 180px;
    .bg{
        top: -170px;
        left: 0;
        position: absolute;
        height: 150%;
        width: 100%;
        
    }

    .education{
        z-index: 20;
        
        padding: 0 30px;
        padding-top: 30px;
        &__title{
            
            margin-top: 0;
        }

        &__block{
            margin-top: 80px;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: auto;
            // grid-auto-flow: dense;
            padding: 0 22px;
            grid-gap: 88px;
            direction: ltr;
            &__item{

                grid-gap: 1em;

            }
        }
    }
    
}




// .section__service
.section__service{
    margin-top: 180px;
    .service{
        &__title{
            @include section__title;
            margin-top: 0;
            line-height: 0;
        }

        &__block{
            margin-top: 80px;
            display: grid;
            grid-template-columns: repeat(2, 1fr) ;
            grid-column-gap: 2em;
            justify-items: center;
            justify-content: center;
            &__item{
                text-align: center;
                padding: 80px 50px;
                .title{
 
                    margin-top: 52px;
                }
                .item_footer{
                    margin-top: 28px;
                    
                }
                &.active{
                    box-shadow: 0 -20px 39px 0px rgba(224, 241, 255, 0.34);
                    
                    .title{
                    
                    }
                    .item_footer{
                        opacity: 0.7;
                        color: #ffffff;
                    }
                }
                transition: all .3s;
                &:hover{
                    box-shadow: 0 59px 39px 2px rgba(224, 241, 255, 0.34);
                    border-radius: 3px;
                    background-color: #41228e;
                    .title{
                        color: #ffffff;
                    }
                    .item_footer{
                        opacity: 0.7;
                        color: #ffffff;
                    }
                }
            }
        }
    }
}






// .section__portfolio

.section__portfolio{
    margin-top: 150px;
    .portfolio{
        padding: 0 30px;
        

        &__block{

            margin-top: 50px;
            column-count: 2;
            column-gap: 2em;
            
            &__item{
                .portfolio_img{
                    img{
                        width: 100%;
                    }
                }
                &:nth-child(1){
                    grid-column: 1;
                    grid-row: 1 / 3;
                }
            }
        }
    }
}





// .section__testimonials
.section__testimonials{
    margin-top: 150px;
    height: 880px;
    
    .testimonials{
        background-image: url("../../imgs/Map.svg");
        background-position: 0 100px ;
        background-repeat: no-repeat;
        background-size: 108%;
        
        overflow: hidden;
        &__title{
            font-size: 48px;
            margin-top: 110px;
        }
        &_slider{
            display: flex;            
            
            &__item{
                text-align: center;
                display: grid;
                justify-items: center;
                padding: 0 30px;
                .testimonial_text{

                    font-size: 22px;
                    .marked{
                        color: #2bfdff;
                    }
                }

                .person_photo{

                }
                .person_name{

                }
                .person_title{
  
                }
                
            }
        }

        .tns-nav{
            margin-top: 30px;
            text-align: center;
            & > button{

      
            }

        }
    }

    position: relative;
    .leaf1{
        display: none;
    }
    .leaf2{
        display: none;
    }
    .leaf3{
        display: none;
    }
    .vertical-dots{

    }
}




// .section__brands
.section__brands{
    margin-top: 50px;
    .brand{
        overflow: hidden;            
        &__slider{

            &_item{
                text-align: center;
            }
        }

    }
}







// .section__blogs
.section__blogs{
    
    .blogs{
        padding: 0 30px;
        &__block{
            margin-top: 50px;
            grid-template-columns: repeat(2, 1fr);
            
            
            &__item{
                justify-content: unset;
                background-color: unset;
                .blog_img{
                
                    img{
                
                    }
                }
                
                .blog_content{
                    padding-top: 15px;
                    padding-left: 22px;
                    padding-right: 22px;
                    padding-bottom: 33px;
                    .blog_title{
 
                    }
                    .blog_preview{

                    }
                    .blog_category{

                    }
                }
                
                &.wide{
                    flex-direction: column-reverse;
                    .blog_content, .blog_img{
                        flex-basis: calc(100%);
                  
                        img{
                            height: 100%;
                        }
                    }

                    .blog_content{
                        padding: 15px 22px 33px 15px;
                        
                        .blog_title{

                        }
                        .blog_preview{
    
                            margin-top: 11px;
                        }
                        .blog_category{
                            margin-top: 22px;
               
                        }
                    }
                }
            }
        }
    }
}




// .section__contact
.section__contact{
    height: 525px;
    background-image: url("../../imgs/Bg_Dots.png");
    background-size: cover;
    background-position: center;
    margin-top: 100px;
    padding-top: 30px;
    .contact{
        
        
        position: relative;
        &__block{
            position: absolute;
            left: 0%;
            top: 40%;
            padding: 52px 30px;
            width: 100%;
            box-shadow: 0 -80px 81px 14px rgba(224, 241, 255, 0.34);
            border-radius: 1px;
            background-color: #ffffff;
            margin: 0 auto;
            margin-top: 50px;
            .form_title{
                color: #000000;
                font-family: $s-font;
                font-size: 22px;
                font-weight: 400;
                
                text-align: center;
            }
            .contact_form{
                
                .inline-form-group, .form-group{
                    input, textarea, button{
                        border: 0;
                        &:focus{
                            outline: 0;
                            border-bottom: 2px solid #000000;
                        }
                    }
                    .message{
                        height: 100px;
                        width: 100%;
                        border-bottom: 2px solid #00000020;
                        padding: 10px 5px;
                        margin-top: 60px;
                    }
                }
                .inline-form-group{
                    margin-top: 60px;
                    display: flex;
                    justify-content: space-between;
                    flex-direction: row;
                    input{
                        flex-basis: calc(100%);
                        padding: 20px 5px ;
                        border-bottom: 2px solid #00000020;
                        color: #00000080;
                        font-family: $t-font;
                        font-size: 15px;
                        font-weight: 400;
                        line-height: 28px;
                        
                    }
                }

                .form-group{
                    text-align: center;
                    .submit_button{
                        border-radius: 6px;
                        background-color: #41228e;
                        color: #ffffff;
                        font-family: $s-font;
                        font-size: 22px;
                        font-weight: 400;
                        
                        text-transform: uppercase;
                        padding: 21px 0;
                        width: 100%;
                        margin-top: 42px;
                        transition: .3s;
                        &:hover{
                            background-color: #51228e;
                        }
                    }
                }
            }
        }
    }
}







.footer{
    height: auto;
    
    .container{
        padding: 0 22px;
    }
    .top_footer{
        
        grid-template-columns: 1fr;
        padding-top: 280px;
        grid-gap: 46px;
        &_item{
            
            flex-direction: column;
            
            & > span{
            }
            .label{
            }

            .item_value{

            }
        }
    }

    .bottom_footer{
        
        padding-top: 27px;
        padding-bottom: 27px;
        .container{
            flex-direction: column;
            text-align: center;
            & > span{
            }
            .developer{
                
                a{
                    opacity: 1;
                    color: #fff;
                }
            }

        }
    }
}





  }



/* On screens that are 769px or less, set the background color to olive */
@media screen and (max-width: 769px) {
    body {
    //   background-color: olive;
    
    }

    .container{
        width: 100%;
    }
// section__skills
.header{
    // height: auto;
    .leaf1, .leaf2, .leaf3, .leaf3, .leaf4, .leaf5{
        display: none;
    }

    #hamburger{
        display: inline-block;
    }
    .container-fluid{
        width: 100%;
        padding: 15px 22px;
        grid-template-columns: 1fr 1fr;
        justify-items: unset;
        .menu{
            text-align: right;
            .menu_list{
                display: flex;
                
                opacity: 0;
                transition: background-color .3s;
                position: absolute;
                flex-direction: column;
                max-height: 0;
                width: 100%;
                left: 0;
                padding: 0 30px;
                background-color: darkslateblue;
                .list__link{
                    margin-left: 36px;
                    color: #ffffff;
                    font-size: 0;
                    line-height: 68px;
                    text-transform: uppercase;
                    font-family: "Poppins", sans-serif;
                    font-weight: 400;
                    text-decoration: none;
                    transition: .3s;
                }

                &.active{
                    opacity: 1;
                    max-height: fit-content;
                    top: 114px;
                    flex-direction: column;
                    .list__link{
                        font-size: 1.5em;
                    }
                }
            }
        }
    }
    &__content{
        margin-top: 200px;
        
        &__title{
            padding-left: 20px;
            font-size: 36px;
        }   
    }
}



// .section__skills{
.section__skills{
    padding: 80px 0;
    text-align: center;
    .about_me{
        &__text{
            padding: 0 22px;
        }
    
        .know_more{
    
        }
    }

    .skills{
        &__title{

        }
        &__block{
            display: grid;
            grid-template-columns: repeat(1, 1fr);
            margin-top: 50px;
            justify-items: center;
            grid-gap: 2em;
        }
    }
    
}




// .section__experience
.section__experience{
    background-image: url("../../imgs/Line.png");
    .experience{

        &__title{
            
        }

        &__block{
            margin-top: 50px;
            display: grid;
            grid-template-columns: 1fr;
            grid-row-gap: 3em;
            &__item{

                .icon_rect{

                    &::before{

                    }
                    
                    &::after{

                    }
                }

                .item_footer{
                    & > span{

                    }
                    .years_experience{

                    }
                    .title_experience{

                    }
                    .place_experience{

                    }
                   
                }

             
            }
        }
    }
    z-index: -1;
}



// .section__education
.section__education{
    height: auto;
    margin-top: 150px;
    .bg{
        top: -170px;
        left: 0;
        position: absolute;
        height: 150%;
        width: 100%;
        
    }

    .education{
        z-index: 20;
        padding-top: 0px;
        &__title{
            
            margin-top: 0;
        }

        &__block{
            margin-top: 50px;
            grid-template-columns: 1fr;
            grid-template-rows: auto;
            // grid-auto-flow: dense;
            padding: 0 22px;
            grid-gap: 88px;
            direction: rtl;
            &__item{

                grid-gap: 1em;

            }
        }
    }
    
}




// .section__service
.section__service{
    margin-top: 150px;
    .service{
        &__title{
            @include section__title;
            margin-top: 0;
            line-height: 0;
        }

        &__block{
            margin-top: 80px;
            display: grid;
            grid-template-columns: 1fr;
            grid-column-gap: 2em;
            &__item{
                text-align: center;
                padding: 80px 50px;
                .title{
 
                    margin-top: 52px;
                }
                .item_footer{
                    margin-top: 28px;
                    
                }
                &.active{
                    box-shadow: 0 -20px 39px 0px rgba(224, 241, 255, 0.34);
                    
                    .title{
                    
                    }
                    .item_footer{
                        opacity: 0.7;
                        color: #ffffff;
                    }
                }
                transition: all .3s;
                &:hover{
                    box-shadow: 0 59px 39px 2px rgba(224, 241, 255, 0.34);
                    border-radius: 3px;
                    background-color: #41228e;
                    .title{
                        color: #ffffff;
                    }
                    .item_footer{
                        opacity: 0.7;
                        color: #ffffff;
                    }
                }
            }
        }
    }
}






// .section__portfolio

.section__portfolio{
    margin-top: 150px;
    .portfolio{
        &__title{
            @include section__title;
            margin-top: 176px;
        }

        &__block{
            margin-top: 50px;
            column-count: 1;
            column-gap: 2em;
            
            &__item{
                .portfolio_img{
                    img{
                        width: 100%;
                    }
                }
                &:nth-child(1){
                    grid-column: 1;
                    grid-row: 1 / 3;
                }
            }
        }
    }
}





// .section__testimonials
.section__testimonials{
    margin-top: 150px;
    height: 880px;
    
    .testimonials{
        background-image: url("../../imgs/Map.svg");
        background-position: 0 100px ;
        background-repeat: no-repeat;
        background-size: 108%;
        overflow: hidden;
        &__title{
            font-size: 48px;
            margin-top: 110px;
        }
        &_slider{
            display: flex;            
            
            &__item{
                text-align: center;
                display: grid;
                justify-items: center;
                padding: 0 20px;
                .testimonial_text{

                    font-size: 12px;
                    .marked{
                        color: #2bfdff;
                    }
                }

                .person_photo{

                }
                .person_name{

                }
                .person_title{
  
                }
                
            }
        }

        .tns-nav{
            margin-top: 30px;
            text-align: center;
            & > button{

      
            }

        }
    }

    position: relative;
    .leaf1{
        display: none;
    }
    .leaf2{
        display: none;
    }
    .leaf3{
        display: none;
    }
    .vertical-dots{

    }
}




// .section__brands
.section__brands{
    margin-top: 50px;
    .brand{
        overflow: hidden;            
        &__slider{

            &_item{
                text-align: center;
            }
        }

    }
}







// .section__blogs
.section__blogs{
    
    .blogs{
        &__title{
            
        }
        &__block{
            margin-top: 50px;
            grid-template-columns: 1fr;
            grid-gap: 1em;
            
            
            &__item{
                
                .blog_img{
                
                    img{
                
                    }
                }
                
                .blog_content{
                    padding-top: 15px;
                    padding-left: 22px;
                    padding-right: 22px;
                    padding-bottom: 33px;
                    .blog_title{
 
                    }
                    .blog_preview{

                    }
                    .blog_category{

                    }
                }
                
                &.wide{
                    flex-direction: column-reverse;
                    .blog_content, .blog_img{
                        flex-basis: calc(100%);
                  
                        img{
                            height: 100%;
                        }
                    }

                    .blog_content{
                        padding: 15px 22px 33px 15px;
                        
                        .blog_title{

                        }
                        .blog_preview{
    
                            margin-top: 11px;
                        }
                        .blog_category{
                            margin-top: 22px;
               
                        }
                    }
                }
            }
        }
    }
}




// .section__contact
.section__contact{
    height: 525px;
    background-image: url("../../imgs/Bg_Dots.png");
    background-size: cover;
    background-position: center;
    margin-top: 100px;
    padding-top: 30px;
    .contact{
        &__title{
            @include section__title;
            margin-top: 0;
            font-size: 48px;
        }
        position: relative;
        &__block{
            position: absolute;
            left: 0%;
            top: 40%;
            padding: 52px 22px;
            width: 100%;
            box-shadow: 0 -80px 81px 14px rgba(224, 241, 255, 0.34);
            border-radius: 1px;
            background-color: #ffffff;
            margin: 0 auto;
            margin-top: 50px;
            .form_title{
                color: #000000;
                font-family: $s-font;
                font-size: 22px;
                font-weight: 400;
                
                text-align: center;
            }
            .contact_form{
                
                .inline-form-group, .form-group{
                    input, textarea, button{
                        border: 0;
                        &:focus{
                            outline: 0;
                            border-bottom: 2px solid #000000;
                        }
                    }
                    .message{
                        height: 100px;
                        width: 100%;
                        border-bottom: 2px solid #00000020;
                        padding: 10px 5px;
                        margin-top: 60px;
                    }
                }
                .inline-form-group{
                    margin-top: 60px;
                    display: flex;
                    justify-content: space-between;
                    flex-direction: column;
                    input{
                        flex-basis: calc(100%);
                        padding: 20px 5px ;
                        border-bottom: 2px solid #00000020;
                        color: #00000080;
                        font-family: $t-font;
                        font-size: 15px;
                        font-weight: 400;
                        line-height: 28px;
                        
                    }
                }

                .form-group{
                    text-align: center;
                    .submit_button{
                        border-radius: 6px;
                        background-color: #41228e;
                        color: #ffffff;
                        font-family: $s-font;
                        font-size: 22px;
                        font-weight: 400;
                        
                        text-transform: uppercase;
                        padding: 21px 0;
                        width: 100%;
                        margin-top: 42px;
                        transition: .3s;
                        &:hover{
                            background-color: #51228e;
                        }
                    }
                }
            }
        }
    }
}







.footer{
    height: auto;
    
    .container{
        padding: 0 22px;
    }
    .top_footer{
        
        grid-template-columns: 1fr;
        padding-top: 280px;
        grid-gap: 46px;
        &_item{
            
            flex-direction: column;
            
            & > span{
            }
            .label{
            }

            .item_value{

            }
        }
    }

    .bottom_footer{
        
        padding-top: 27px;
        padding-bottom: 27px;
        .container{
            flex-direction: column;
            text-align: center;
            & > span{
            }
            .developer{
                
                a{
                    opacity: 1;
                    color: #fff;
                }
            }

        }
    }
}





  }
