@charset "UTF-8";
body {
  overflow-x: hidden; }

.container {
  width: 1200px;
  margin: 0 auto; }

* {
  box-sizing: border-box; }

#hamburger {
  width: 80px;
  height: 80px;
  cursor: pointer;
  background: white;
  border-radius: 50%;
  border: none;
  outline: none; }
  #hamburger span {
    position: absolute;
    width: 50px;
    height: 4px;
    background: #262626;
    border-radius: 2px;
    overflow: hidden;
    transition: all 0.3s linear; }
    #hamburger span::before {
      content: "";
      position: absolute;
      width: 0;
      height: 100%;
      top: 0;
      right: 0;
      background: gray;
      transition: all 0.3s linear; }
    #hamburger span:nth-child(1) {
      animation: span-first-off 0.5s ease-in-out;
      animation-fill-mode: forwards; }
    #hamburger span:nth-child(2) {
      animation: span-second-off 0.5s ease-in-out;
      animation-fill-mode: forwards; }
    #hamburger span:nth-child(3) {
      animation: span-third-off 0.5s ease-in-out;
      animation-fill-mode: forwards; }

#hamburger.on:hover span::before {
  width: 100%;
  transition: all 0.3s linear; }

#hamburger.on span:nth-child(1) {
  animation: span-first-on 0.5s ease-in-out;
  animation-fill-mode: forwards; }

#hamburger.on span:nth-child(2) {
  animation: span-second-on 0.5s ease-in-out;
  animation-fill-mode: forwards; }

#hamburger.on span:nth-child(3) {
  animation: span-third-on 0.5s ease-in-out;
  animation-fill-mode: forwards; }

@keyframes span-first-on {
  0% {
    transform: translate(-50%, -300%); }
  30% {
    transform: translate(-50%, -50%); }
  100% {
    transform: translate(-50%, -50%) rotate(-45deg); } }

@keyframes span-first-off {
  0% {
    transform: translate(-50%, -50%) rotate(-45deg); }
  30% {
    transform: translate(-50%, -50%) rotate(0deg); }
  100% {
    transform: translate(-50%, -300%); } }

@keyframes span-second-on {
  0% {
    transform: translate(-50%, -50%); }
  25% {
    background: gray; }
  50% {
    transform: translate(-50%, -50%) scale(1); }
  100% {
    transform: translate(-150%, -50%) scale(0); } }

@keyframes span-second-off {
  0% {
    transform: translate(-150%, -50%) scale(0); }
  25% {
    background: gray; }
  50% {
    transform: translate(-50%, -50%) scale(1); }
  100% {
    transform: translate(-50%, -50%); } }

@keyframes span-third-on {
  0% {
    transform: translate(-50%, 200%); }
  30% {
    transform: translate(-50%, -50%); }
  100% {
    transform: translate(-50%, -50%) rotate(45deg); } }

@keyframes span-third-off {
  0% {
    transform: translate(-50%, -50%) rotate(45deg); }
  30% {
    transform: translate(-50%, -50%) rotate(0deg); }
  100% {
    transform: translate(-50%, 200%); } }

.header {
  background-image: url("../../imgs/bg-1.svg");
  height: 502px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 50%;
  position: relative;
  background-color: #41268e; }
  .header .container-fluid {
    box-sizing: border-box;
    width: 100%;
    display: grid;
    grid-template-columns: auto 1fr;
    justify-items: end;
    padding: 0px 112px; }
    .header .container-fluid .logo {
      display: inline-flex;
      justify-items: center;
      align-items: center;
      z-index: 1000; }
    .header .container-fluid .menu {
      z-index: 1000; }
      .header .container-fluid .menu_list .list__link {
        /* Style for "HOME" */
        margin-left: 36px;
        color: #ffffff;
        font-size: 18px;
        line-height: 84px;
        text-transform: uppercase;
        /* Text style for "ABOUT" */
        font-family: "Poppins", sans-serif;
        font-weight: 400;
        text-decoration: none;
        transition: .3s; }
        .header .container-fluid .menu_list .list__link:hover, .header .container-fluid .menu_list .list__link.active {
          color: #999; }
  .header__content {
    margin-top: 120px; }
    .header__content__title {
      text-align: center;
      /* Style for "Hi! Iâ€™m  C" */
      color: #ffffff;
      font-family: "Poppins", sans-serif;
      font-size: 80px;
      font-weight: 700;
      line-height: 87px; }
  .header .social {
    position: absolute;
    left: 76px;
    bottom: 70px;
    display: flex;
    flex-direction: column; }
    .header .social .social__link {
      display: inline-block;
      width: 24px;
      height: 18px;
      margin-top: 24px; }
  .header .leaf1, .header .leaf2, .header .leaf3, .header .leaf4, .header .leaf4, .header .leaf5, .header .leaf6 {
    z-index: 0; }
  .header .leaf2 {
    position: absolute;
    left: 200px;
    bottom: -35%; }
  .header .leaf3 {
    position: absolute;
    top: -10%;
    left: 41%; }
  .header .leaf5 {
    position: absolute;
    bottom: -43px;
    right: 0%; }
  .header .leaf6 {
    position: absolute;
    top: -15%;
    left: -4%; }

@keyframes moveLeft {
  0% { }
  25% {
    right: 5%; }
  100% {
    bottom: 10%; } }

@keyframes moveRight {
  0% {
    left: 0; }
  25% {
    left: -100px; }
  100% {
    left: -300px; } }

@keyframes moveRight2 {
  0% {
    left: 15%; }
  25% {
    bottom: -43px;
    left: 0%;
    transform: scale(1.2); }
  100% {
    left: 16%;
    transform: scale(1); } }

.section__blogs {
  margin-top: 112px; }
  .section__blogs .blogs {
    width: 960px; }
    .section__blogs .blogs__block_item {
      border-radius: 6px;
      background-color: #ffffff; }
      .section__blogs .blogs__block_item .blog_title {
        font-family: "Poppins", sans-serif;
        font-size: 40px;
        font-weight: 700;
        line-height: 57px; }
      .section__blogs .blogs__block_item .blog_details {
        margin-top: 52px;
        color: #737373;
        font-family: "Roboto Slab", serif;
        font-size: 22px;
        font-weight: 400;
        line-height: 36px;
        /* Text style for ",  ," */
        /* Text style for "uixgeek, U" */ }
        .section__blogs .blogs__block_item .blog_details time, .section__blogs .blogs__block_item .blog_details author {
          color: #41228e;
          cursor: pointer; }
      .section__blogs .blogs__block_item .blog_img {
        margin-top: 30px; }
        .section__blogs .blogs__block_item .blog_img img {
          width: 100%; }
      .section__blogs .blogs__block_item .blog_content {
        box-sizing: border-box;
        padding: 28px 24px 24px 24px; }
        .section__blogs .blogs__block_item .blog_content .blog_preview {
          opacity: 0.7;
          color: #000000;
          font-family: "Roboto", sans-serif;
          font-family: "Roboto Slab", serif;
          font-size: 22px;
          font-weight: 400;
          line-height: 36px;
          margin-bottom: 42px; }
        .section__blogs .blogs__block_item .blog_content p {
          margin: 27px 0;
          opacity: 0.7;
          color: #000000;
          font-family: Roboto;
          font-size: 20px;
          font-weight: 300;
          line-height: 30px; }
        .section__blogs .blogs__block_item .blog_content .blog_category {
          color: #41228e;
          font-family: "Roboto Slab", serif;
          font-size: 15px;
          font-weight: 400;
          line-height: 36px;
          border-radius: 2px;
          background-color: #00000005;
          padding: 6px 15px;
          margin-top: 1em; }

.comments__block_title {
  color: #000000;
  font-family: "Roboto Slab", serif;
  font-size: 28px;
  font-weight: 700;
  line-height: 36px; }

.comments__block__items {
  margin-top: 24px;
  padding: 42px 68px;
  background-color: #fafafa; }
  .comments__block__items .comment {
    display: flex;
    border-bottom: 1px solid #dbdbdb;
    padding: 18px 0; }
    .comments__block__items .comment .commenter_img {
      display: inline-block;
      height: 64px;
      width: 64px;
      border-radius: 50%; }
      .comments__block__items .comment .commenter_img img {
        width: 100%; }
    .comments__block__items .comment .comment_content {
      padding-left: 30px; }
      .comments__block__items .comment .comment_content .commenter_name {
        color: #000000;
        font-family: "Roboto Slab", serif;
        font-size: 22px;
        font-weight: 400;
        margin: 0; }
      .comments__block__items .comment .comment_content .comment_text {
        opacity: 0.7;
        color: #000000;
        font-family: "Roboto", sans-serif;
        font-size: 15px;
        font-weight: 300;
        line-height: 25px;
        margin-top: 20px; }
      .comments__block__items .comment .comment_content .reply_link {
        color: #000000;
        font-family: "Roboto Slab", serif;
        font-size: 15px;
        font-weight: 400;
        line-height: 36px;
        display: inline-block; }
    .comments__block__items .comment.reply {
      margin-left: 74px; }

.comments__block .comment__form {
  padding: 0 68px; }
  .comments__block .comment__form__title {
    color: #000000;
    font-family: "Roboto Slab", serif;
    font-size: 22px;
    font-weight: 700;
    line-height: 36px;
    border-bottom: 1px solid #dbdbdb; }
  .comments__block .comment__form .form__block {
    display: flex;
    margin-top: 37px; }
    .comments__block .comment__form .form__block .inputs {
      flex-basis: calc(100% / 2 - 12px);
      margin-right: 12px; }
      .comments__block .comment__form .form__block .inputs input {
        border: 0;
        width: 100%;
        padding: 20px 5px;
        border-bottom: 2px solid #00000020;
        color: #00000080;
        font-family: "Roboto", sans-serif;
        font-size: 15px;
        font-weight: 400;
        line-height: 28px; }
        .comments__block .comment__form .form__block .inputs input:focus {
          outline: 0;
          border-bottom: 2px solid #000000; }
    .comments__block .comment__form .form__block .textarea {
      flex-basis: calc(100% / 2);
      display: flex;
      flex-direction: column; }
      .comments__block .comment__form .form__block .textarea textarea {
        border: 0;
        width: 100%;
        padding: 20px 5px;
        border-bottom: 2px solid #00000020;
        opacity: 0.7;
        color: #000000;
        font-family: Roboto;
        font-size: 15px;
        font-weight: 400;
        line-height: 28px; }
        .comments__block .comment__form .form__block .textarea textarea:focus {
          outline: 0;
          border-bottom: 2px solid #000000; }
      .comments__block .comment__form .form__block .textarea .add_comment {
        border: 0;
        border-radius: 6px;
        background-color: #41228e;
        color: #ffffff;
        font-family: "Roboto Slab", serif;
        font-size: 22px;
        font-weight: 400;
        text-transform: uppercase;
        padding: 21px 0;
        width: 100%;
        margin-top: 24px;
        transition: .3s; }
        .comments__block .comment__form .form__block .textarea .add_comment:hover {
          background-color: #51228e; }

.section__featured .featured__title {
  margin-top: 120px;
  color: #000000;
  font-family: "Poppins", sans-serif;
  font-size: 60px;
  font-weight: 700;
  line-height: 86px;
  text-align: center; }

.section__featured .featured__block {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(370px, 1fr));
  grid-gap: 30px;
  margin-top: 80px; }
  .section__featured .featured__block_item {
    border-radius: 6px;
    background-color: #ffffff;
    box-shadow: -17px 60px 60px -30px rgba(112, 112, 112, 0.19);
    top: 0;
    transition: .2s;
    position: relative; }
    .section__featured .featured__block_item .blog_img img {
      width: 100%; }
    .section__featured .featured__block_item .blog_content {
      box-sizing: border-box;
      padding: 28px 24px 24px 24px; }
      .section__featured .featured__block_item .blog_content .blog_title {
        font-family: "Roboto Slab", serif;
        font-size: 22px;
        font-weight: 400;
        line-height: 36px;
        cursor: pointer; }
      .section__featured .featured__block_item .blog_content .blog_preview {
        opacity: 0.7;
        color: #000000;
        font-family: "Roboto", sans-serif;
        font-size: 15px;
        font-weight: 300;
        line-height: 25px;
        margin-top: 1em; }
      .section__featured .featured__block_item .blog_content .blog_category {
        color: #41228e;
        font-family: "Roboto Slab", serif;
        font-size: 15px;
        font-weight: 400;
        line-height: 36px;
        border-radius: 2px;
        background-color: #00000005;
        padding: 6px 15px;
        margin-top: 1em; }
    .section__featured .featured__block_item:hover {
      top: -20px;
      box-shadow: 0 59px 39px 7px rgba(224, 241, 255, 0.34); }

.footer {
  margin-top: 100px;
  height: auto;
  background-color: #222222; }
  .footer .top_footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding-top: 50px;
    grid-gap: 146px; }
    .footer .top_footer_item {
      display: flex;
      flex-direction: column;
      justify-content: flex-end; }
      .footer .top_footer_item > span {
        display: block; }
      .footer .top_footer_item .label {
        opacity: 0.4;
        color: #ffffff;
        font-family: "Roboto Slab", serif;
        font-size: 18px;
        font-weight: 400; }
      .footer .top_footer_item .item_value {
        color: #ffffff;
        font-family: "Roboto Slab", serif;
        font-size: 22px;
        font-weight: 400;
        margin-top: 25px; }
  .footer .bottom_footer {
    margin-top: 62px;
    border-top: 1px solid #ffffff12;
    align-items: center;
    padding-top: 27px;
    padding-bottom: 27px; }
    .footer .bottom_footer .container {
      display: flex;
      justify-content: space-between; }
      .footer .bottom_footer .container > span {
        opacity: 0.7;
        color: #ffffff;
        font-family: "Roboto", sans-serif;
        font-size: 15px;
        font-weight: 400;
        line-height: 28px; }
      .footer .bottom_footer .container .developer a {
        opacity: 1;
        color: #fff; }

#hamburger {
  display: none; }

/* On screens that are 1048px or less, set the background color to olive */
@media screen and (max-width: 1048px) {
  .container {
    width: 100%; }
  .header .leaf1, .header .leaf2, .header .leaf3, .header .leaf3, .header .leaf4, .header .leaf5 {
    display: none; }
  .header #hamburger {
    display: inline-block; }
  .header .container-fluid {
    width: 100%;
    padding: 15px 22px;
    grid-template-columns: 1fr 1fr;
    justify-items: unset; }
    .header .container-fluid .menu {
      text-align: right; }
      .header .container-fluid .menu .menu_list {
        display: flex;
        opacity: 0;
        transition: background-color .3s;
        position: absolute;
        flex-direction: column;
        max-height: 0;
        width: 100%;
        left: 0;
        padding: 0 30px;
        background-color: darkslateblue; }
        .header .container-fluid .menu .menu_list .list__link {
          margin-left: 36px;
          color: #ffffff;
          font-size: 0;
          line-height: 68px;
          text-transform: uppercase;
          font-family: "Poppins", sans-serif;
          font-weight: 400;
          text-decoration: none;
          transition: .3s; }
        .header .container-fluid .menu .menu_list.active {
          opacity: 1;
          max-height: fit-content;
          top: 114px;
          flex-direction: revert; }
          .header .container-fluid .menu .menu_list.active .list__link {
            font-size: 1.5em; }
  .header__content {
    margin-top: 100px; }
    .header__content__title {
      padding-left: 20px;
      font-size: 48px; }
  .section__featured .featured {
    padding: 0 20px; }
  .section__brands {
    margin-top: 50px; }
    .section__brands .brand {
      overflow: hidden; }
      .section__brands .brand__slider_item {
        text-align: center; }
  .footer {
    height: auto; }
    .footer .container {
      padding: 0 22px; }
    .footer .top_footer {
      grid-template-columns: 1fr;
      padding-top: 80px;
      grid-gap: 46px; }
      .footer .top_footer_item {
        flex-direction: column; }
    .footer .bottom_footer {
      padding-top: 27px;
      padding-bottom: 27px; }
      .footer .bottom_footer .container {
        flex-direction: column;
        text-align: center; }
        .footer .bottom_footer .container .developer a {
          opacity: 1;
          color: #fff; } }

/* On screens that are 769px or less, set the background color to olive */
@media screen and (max-width: 769px) {
  .container {
    width: 100%; }
  .header .leaf1, .header .leaf2, .header .leaf3, .header .leaf3, .header .leaf4, .header .leaf5 {
    display: none; }
  .header #hamburger {
    display: inline-block; }
  .header .container-fluid {
    width: 100%;
    padding: 15px 22px;
    grid-template-columns: 1fr 1fr;
    justify-items: unset; }
    .header .container-fluid .menu {
      text-align: right; }
      .header .container-fluid .menu .menu_list {
        display: flex;
        /* width: 0; */
        opacity: 0;
        transition: background-color .3s;
        position: absolute;
        flex-direction: column;
        max-height: 0;
        width: 100%;
        left: 0;
        padding: 0 30px;
        background-color: darkslateblue; }
        .header .container-fluid .menu .menu_list .list__link {
          margin-left: 36px;
          color: #ffffff;
          font-size: 0;
          line-height: 68px;
          text-transform: uppercase;
          font-family: "Poppins", sans-serif;
          font-weight: 400;
          text-decoration: none;
          transition: .3s; }
        .header .container-fluid .menu .menu_list.active {
          opacity: 1;
          max-height: fit-content;
          top: 114px;
          flex-direction: column; }
          .header .container-fluid .menu .menu_list.active .list__link {
            font-size: 1.5em; }
  .header__content {
    margin-top: 50px; }
    .header__content__title {
      padding-left: 20px;
      font-size: 36px; }
  .section__blogs .blogs {
    width: 100%; }
    .section__blogs .blogs__block_item .blog_details, .section__blogs .blogs__block_item .blog_title {
      padding: 0 20px; }
    .section__blogs .blogs__block_item .comments__block_title {
      padding: 0 20px; }
    .section__blogs .blogs__block_item .comments__block .comment__form {
      margin-top: 30px; }
      .section__blogs .blogs__block_item .comments__block .comment__form .form__block {
        flex-direction: column; }
  .section__featured .featured {
    padding: 0 20px; }
  .footer {
    height: auto; }
    .footer .container {
      padding: 0 22px; }
    .footer .top_footer {
      grid-template-columns: 1fr;
      padding-top: 40px;
      grid-gap: 46px; }
      .footer .top_footer_item {
        flex-direction: column; }
    .footer .bottom_footer {
      padding-top: 27px;
      padding-bottom: 27px; }
      .footer .bottom_footer .container {
        flex-direction: column;
        text-align: center; }
        .footer .bottom_footer .container .developer a {
          opacity: 1;
          color: #fff; } }
