@charset "UTF-8";
body {
  overflow-x: hidden; }

.container {
  width: 1200px;
  margin: 0 auto; }

* {
  box-sizing: border-box; }

#hamburger {
  width: 80px;
  height: 80px;
  cursor: pointer;
  background: white;
  border-radius: 50%;
  border: none;
  outline: none; }
  #hamburger span {
    position: absolute;
    width: 50px;
    height: 4px;
    background: #262626;
    border-radius: 2px;
    overflow: hidden;
    transition: all 0.3s linear; }
    #hamburger span::before {
      content: "";
      position: absolute;
      width: 0;
      height: 100%;
      top: 0;
      right: 0;
      background: gray;
      transition: all 0.3s linear; }
    #hamburger span:nth-child(1) {
      animation: span-first-off 0.5s ease-in-out;
      animation-fill-mode: forwards; }
    #hamburger span:nth-child(2) {
      animation: span-second-off 0.5s ease-in-out;
      animation-fill-mode: forwards; }
    #hamburger span:nth-child(3) {
      animation: span-third-off 0.5s ease-in-out;
      animation-fill-mode: forwards; }

#hamburger.on:hover span::before {
  width: 100%;
  transition: all 0.3s linear; }

#hamburger.on span:nth-child(1) {
  animation: span-first-on 0.5s ease-in-out;
  animation-fill-mode: forwards; }

#hamburger.on span:nth-child(2) {
  animation: span-second-on 0.5s ease-in-out;
  animation-fill-mode: forwards; }

#hamburger.on span:nth-child(3) {
  animation: span-third-on 0.5s ease-in-out;
  animation-fill-mode: forwards; }

@keyframes span-first-on {
  0% {
    transform: translate(-50%, -300%); }
  30% {
    transform: translate(-50%, -50%); }
  100% {
    transform: translate(-50%, -50%) rotate(-45deg); } }

@keyframes span-first-off {
  0% {
    transform: translate(-50%, -50%) rotate(-45deg); }
  30% {
    transform: translate(-50%, -50%) rotate(0deg); }
  100% {
    transform: translate(-50%, -300%); } }

@keyframes span-second-on {
  0% {
    transform: translate(-50%, -50%); }
  25% {
    background: gray; }
  50% {
    transform: translate(-50%, -50%) scale(1); }
  100% {
    transform: translate(-150%, -50%) scale(0); } }

@keyframes span-second-off {
  0% {
    transform: translate(-150%, -50%) scale(0); }
  25% {
    background: gray; }
  50% {
    transform: translate(-50%, -50%) scale(1); }
  100% {
    transform: translate(-50%, -50%); } }

@keyframes span-third-on {
  0% {
    transform: translate(-50%, 200%); }
  30% {
    transform: translate(-50%, -50%); }
  100% {
    transform: translate(-50%, -50%) rotate(45deg); } }

@keyframes span-third-off {
  0% {
    transform: translate(-50%, -50%) rotate(45deg); }
  30% {
    transform: translate(-50%, -50%) rotate(0deg); }
  100% {
    transform: translate(-50%, 200%); } }

.header {
  background-image: url("../../imgs/bg-1.svg");
  height: 502px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 50%;
  position: relative;
  background-color: #41268e; }
  .header .container-fluid {
    box-sizing: border-box;
    width: 100%;
    display: grid;
    grid-template-columns: auto 1fr;
    justify-items: end;
    padding: 0px 112px; }
    .header .container-fluid .logo {
      display: inline-flex;
      justify-items: center;
      align-items: center;
      z-index: 1000; }
    .header .container-fluid .menu {
      z-index: 1000; }
      .header .container-fluid .menu_list .list__link {
        /* Style for "HOME" */
        margin-left: 36px;
        color: #ffffff;
        font-size: 18px;
        line-height: 84px;
        text-transform: uppercase;
        /* Text style for "ABOUT" */
        font-family: "Poppins", sans-serif;
        font-weight: 400;
        text-decoration: none;
        transition: .3s; }
        .header .container-fluid .menu_list .list__link:hover, .header .container-fluid .menu_list .list__link.active {
          color: #999; }
  .header__content {
    margin-top: 120px; }
    .header__content__title {
      text-align: center;
      /* Style for "Hi! I’m  C" */
      color: #ffffff;
      font-family: "Poppins", sans-serif;
      font-size: 80px;
      font-weight: 700;
      line-height: 87px; }
  .header .social {
    position: absolute;
    left: 76px;
    bottom: 70px;
    display: flex;
    flex-direction: column; }
    .header .social .social__link {
      display: inline-block;
      width: 24px;
      height: 18px;
      margin-top: 24px; }
  .header .leaf1, .header .leaf2, .header .leaf3, .header .leaf4, .header .leaf4, .header .leaf5, .header .leaf6 {
    z-index: 0; }
  .header .leaf2 {
    position: absolute;
    left: 200px;
    bottom: -35%; }
  .header .leaf3 {
    position: absolute;
    top: -10%;
    left: 41%; }
  .header .leaf5 {
    position: absolute;
    bottom: -43px;
    right: 0%; }
  .header .leaf6 {
    position: absolute;
    top: -15%;
    left: -4%; }

@keyframes moveLeft {
  0% { }
  25% {
    right: 5%; }
  100% {
    bottom: 10%; } }

@keyframes moveRight {
  0% {
    left: 0; }
  25% {
    left: -100px; }
  100% {
    left: -300px; } }

@keyframes moveRight2 {
  0% {
    left: 15%; }
  25% {
    bottom: -43px;
    left: 0%;
    transform: scale(1.2); }
  100% {
    left: 16%;
    transform: scale(1); } }

.section__blogs {
  margin-top: 100px; }
  .section__blogs .blogs__title {
    margin-top: 120px;
    color: #000000;
    font-family: "Poppins", sans-serif;
    font-size: 60px;
    font-weight: 700;
    line-height: 86px;
    text-align: center; }
  .section__blogs .blogs__block {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(370px, 1fr));
    grid-gap: 30px; }
    .section__blogs .blogs__block_item {
      border-radius: 6px;
      background-color: #ffffff;
      box-shadow: -17px 60px 60px -30px rgba(112, 112, 112, 0.19);
      top: 0;
      transition: .2s;
      position: relative; }
      .section__blogs .blogs__block_item .blog_img img {
        width: 100%; }
      .section__blogs .blogs__block_item .blog_content {
        box-sizing: border-box;
        padding: 28px 24px 24px 24px; }
        .section__blogs .blogs__block_item .blog_content .blog_title {
          font-family: "Roboto Slab", serif;
          font-size: 22px;
          font-weight: 400;
          line-height: 36px; }
        .section__blogs .blogs__block_item .blog_content .blog_preview {
          opacity: 0.7;
          color: #000000;
          font-family: "Roboto", sans-serif;
          font-size: 15px;
          font-weight: 300;
          line-height: 25px;
          margin-top: 1em; }
        .section__blogs .blogs__block_item .blog_content .blog_category {
          color: #41228e;
          font-family: "Roboto Slab", serif;
          font-size: 15px;
          font-weight: 400;
          line-height: 36px;
          border-radius: 2px;
          background-color: #00000005;
          padding: 6px 15px;
          margin-top: 1em; }
      .section__blogs .blogs__block_item:hover {
        top: -20px;
        box-shadow: 0 59px 39px 7px rgba(224, 241, 255, 0.34); }

.section__brands {
  height: 426px;
  background-color: #f8f9fa;
  margin-top: 140px; }
  .section__brands .brand {
    overflow: hidden;
    padding-top: 110px; }
    .section__brands .brand__title {
      margin-top: 120px;
      color: #000000;
      font-family: "Poppins", sans-serif;
      font-size: 60px;
      font-weight: 700;
      line-height: 86px;
      text-align: center;
      margin-top: 0; }
    .section__brands .brand__slider {
      margin-top: 97px;
      display: flex;
      justify-items: center;
      align-items: center; }
      .section__brands .brand__slider_item {
        -webkit-user-select: none;
        /* Chrome all / Safari all */
        -moz-user-select: none;
        /* Firefox all */
        -ms-user-select: none;
        /* IE 10+ */
        user-select: none;
        /* Likely future */
        text-align: center; }
    .section__brands .brand [data-action="stop"], .section__brands .brand [data-action="start"], .section__brands .brand .tns-liveregion {
      display: none; }

.section__contact {
  height: 525px;
  background-image: url("../../imgs/Bg_Dots.png");
  background-size: cover;
  background-position: center;
  margin-top: 130px;
  padding-top: 60px; }
  .section__contact .contact {
    position: relative; }
    .section__contact .contact__title {
      margin-top: 120px;
      color: #000000;
      font-family: "Poppins", sans-serif;
      font-size: 60px;
      font-weight: 700;
      line-height: 86px;
      text-align: center;
      margin-top: 0; }
    .section__contact .contact__block {
      position: absolute;
      left: 20%;
      top: 40%;
      padding: 52px 68px;
      width: 765px;
      box-shadow: 0 -80px 81px 14px rgba(224, 241, 255, 0.34);
      border-radius: 6px;
      background-color: #ffffff;
      margin: 0 auto;
      margin-top: 100px; }
      .section__contact .contact__block .form_title {
        color: #000000;
        font-family: "Roboto Slab", serif;
        font-size: 22px;
        font-weight: 400;
        text-align: center; }
      .section__contact .contact__block .contact_form .inline-form-group input, .section__contact .contact__block .contact_form .inline-form-group textarea, .section__contact .contact__block .contact_form .inline-form-group button, .section__contact .contact__block .contact_form .form-group input, .section__contact .contact__block .contact_form .form-group textarea, .section__contact .contact__block .contact_form .form-group button {
        border: 0; }
        .section__contact .contact__block .contact_form .inline-form-group input:focus, .section__contact .contact__block .contact_form .inline-form-group textarea:focus, .section__contact .contact__block .contact_form .inline-form-group button:focus, .section__contact .contact__block .contact_form .form-group input:focus, .section__contact .contact__block .contact_form .form-group textarea:focus, .section__contact .contact__block .contact_form .form-group button:focus {
          outline: 0;
          border-bottom: 2px solid #000000; }
      .section__contact .contact__block .contact_form .inline-form-group .message, .section__contact .contact__block .contact_form .form-group .message {
        height: 100px;
        width: 100%;
        border-bottom: 2px solid #00000020;
        padding: 10px 5px;
        margin-top: 60px; }
      .section__contact .contact__block .contact_form .inline-form-group {
        margin-top: 60px;
        display: flex;
        justify-content: space-between; }
        .section__contact .contact__block .contact_form .inline-form-group input {
          flex-basis: calc(50% - 41px);
          padding: 20px 5px;
          border-bottom: 2px solid #00000020;
          color: #00000080;
          font-family: "Roboto", sans-serif;
          font-size: 15px;
          font-weight: 400;
          line-height: 28px; }
      .section__contact .contact__block .contact_form .form-group {
        text-align: center; }
        .section__contact .contact__block .contact_form .form-group .submit_button {
          border-radius: 6px;
          background-color: #41228e;
          color: #ffffff;
          font-family: "Roboto Slab", serif;
          font-size: 22px;
          font-weight: 400;
          text-transform: uppercase;
          padding: 21px 150px;
          margin-top: 42px;
          transition: .3s; }
          .section__contact .contact__block .contact_form .form-group .submit_button:hover {
            background-color: #51228e;
            box-shadow: 0 10px 30px 14px rgba(65, 34, 142, 0.14); }

.footer {
  height: 543px;
  background-color: #222222; }
  .footer .top_footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding-top: 280px;
    grid-gap: 146px; }
    .footer .top_footer_item {
      display: flex;
      flex-direction: column;
      justify-content: flex-end; }
      .footer .top_footer_item > span {
        display: block; }
      .footer .top_footer_item .label {
        opacity: 0.4;
        color: #ffffff;
        font-family: "Roboto Slab", serif;
        font-size: 18px;
        font-weight: 400; }
      .footer .top_footer_item .item_value {
        color: #ffffff;
        font-family: "Roboto Slab", serif;
        font-size: 22px;
        font-weight: 400;
        margin-top: 25px; }
  .footer .bottom_footer {
    margin-top: 62px;
    border-top: 1px solid #ffffff12;
    align-items: center;
    padding-top: 47px; }
    .footer .bottom_footer .container {
      display: flex;
      justify-content: space-between; }
      .footer .bottom_footer .container > span {
        opacity: 0.7;
        color: #ffffff;
        font-family: "Roboto", sans-serif;
        font-size: 15px;
        font-weight: 400;
        line-height: 28px; }
      .footer .bottom_footer .container .developer a {
        opacity: 1;
        color: #fff; }

#hamburger {
  display: none; }

/* On screens that are 1048px or less, set the background color to olive */
@media screen and (max-width: 1048px) {
  .container {
    width: 100%; }
  .header .leaf1, .header .leaf2, .header .leaf3, .header .leaf3, .header .leaf4, .header .leaf5 {
    display: none; }
  .header #hamburger {
    display: inline-block; }
  .header .container-fluid {
    width: 100%;
    padding: 15px 22px;
    grid-template-columns: 1fr 1fr;
    justify-items: unset; }
    .header .container-fluid .menu {
      text-align: right; }
      .header .container-fluid .menu .menu_list {
        display: flex;
        opacity: 0;
        transition: background-color .3s;
        position: absolute;
        flex-direction: column;
        max-height: 0;
        width: 100%;
        left: 0;
        padding: 0 30px;
        background-color: darkslateblue; }
        .header .container-fluid .menu .menu_list .list__link {
          margin-left: 36px;
          color: #ffffff;
          font-size: 0;
          line-height: 68px;
          text-transform: uppercase;
          font-family: "Poppins", sans-serif;
          font-weight: 400;
          text-decoration: none;
          transition: .3s; }
        .header .container-fluid .menu .menu_list.active {
          opacity: 1;
          max-height: fit-content;
          top: 114px;
          flex-direction: revert; }
          .header .container-fluid .menu .menu_list.active .list__link {
            font-size: 1.5em; }
  .header__content {
    margin-top: 100px; }
    .header__content__title {
      padding-left: 20px;
      font-size: 48px; }
  .section__blogs .blogs {
    padding: 0 30px; }
  .section__brands {
    margin-top: 50px; }
    .section__brands .brand {
      overflow: hidden; }
      .section__brands .brand__slider_item {
        text-align: center; }
  .section__contact {
    height: 525px;
    background-image: url("../../imgs/Bg_Dots.png");
    background-size: cover;
    background-position: center;
    margin-top: 100px;
    padding-top: 30px; }
    .section__contact .contact {
      position: relative; }
      .section__contact .contact__block {
        position: absolute;
        left: 0%;
        top: 40%;
        padding: 52px 30px;
        width: 100%;
        box-shadow: 0 -80px 81px 14px rgba(224, 241, 255, 0.34);
        border-radius: 1px;
        background-color: #ffffff;
        margin: 0 auto;
        margin-top: 50px; }
        .section__contact .contact__block .form_title {
          color: #000000;
          font-family: "Roboto Slab", serif;
          font-size: 22px;
          font-weight: 400;
          text-align: center; }
        .section__contact .contact__block .contact_form .inline-form-group input, .section__contact .contact__block .contact_form .inline-form-group textarea, .section__contact .contact__block .contact_form .inline-form-group button, .section__contact .contact__block .contact_form .form-group input, .section__contact .contact__block .contact_form .form-group textarea, .section__contact .contact__block .contact_form .form-group button {
          border: 0; }
          .section__contact .contact__block .contact_form .inline-form-group input:focus, .section__contact .contact__block .contact_form .inline-form-group textarea:focus, .section__contact .contact__block .contact_form .inline-form-group button:focus, .section__contact .contact__block .contact_form .form-group input:focus, .section__contact .contact__block .contact_form .form-group textarea:focus, .section__contact .contact__block .contact_form .form-group button:focus {
            outline: 0;
            border-bottom: 2px solid #000000; }
        .section__contact .contact__block .contact_form .inline-form-group .message, .section__contact .contact__block .contact_form .form-group .message {
          height: 100px;
          width: 100%;
          border-bottom: 2px solid #00000020;
          padding: 10px 5px;
          margin-top: 60px; }
        .section__contact .contact__block .contact_form .inline-form-group {
          margin-top: 60px;
          display: flex;
          justify-content: space-between;
          flex-direction: row; }
          .section__contact .contact__block .contact_form .inline-form-group input {
            flex-basis: calc(100%);
            padding: 20px 5px;
            border-bottom: 2px solid #00000020;
            color: #00000080;
            font-family: "Roboto", sans-serif;
            font-size: 15px;
            font-weight: 400;
            line-height: 28px; }
        .section__contact .contact__block .contact_form .form-group {
          text-align: center; }
          .section__contact .contact__block .contact_form .form-group .submit_button {
            border-radius: 6px;
            background-color: #41228e;
            color: #ffffff;
            font-family: "Roboto Slab", serif;
            font-size: 22px;
            font-weight: 400;
            text-transform: uppercase;
            padding: 21px 0;
            width: 100%;
            margin-top: 42px;
            transition: .3s; }
            .section__contact .contact__block .contact_form .form-group .submit_button:hover {
              background-color: #51228e; }
  .footer {
    height: auto; }
    .footer .container {
      padding: 0 22px; }
    .footer .top_footer {
      grid-template-columns: 1fr;
      padding-top: 280px;
      grid-gap: 46px; }
      .footer .top_footer_item {
        flex-direction: column; }
    .footer .bottom_footer {
      padding-top: 27px;
      padding-bottom: 27px; }
      .footer .bottom_footer .container {
        flex-direction: column;
        text-align: center; }
        .footer .bottom_footer .container .developer a {
          opacity: 1;
          color: #fff; } }

/* On screens that are 769px or less, set the background color to olive */
@media screen and (max-width: 769px) {
  .container {
    width: 100%; }
  .header .leaf1, .header .leaf2, .header .leaf3, .header .leaf3, .header .leaf4, .header .leaf5 {
    display: none; }
  .header #hamburger {
    display: inline-block; }
  .header .container-fluid {
    width: 100%;
    padding: 15px 22px;
    grid-template-columns: 1fr 1fr;
    justify-items: unset; }
    .header .container-fluid .menu {
      text-align: right; }
      .header .container-fluid .menu .menu_list {
        display: flex;
        /* width: 0; */
        opacity: 0;
        transition: background-color .3s;
        position: absolute;
        flex-direction: column;
        max-height: 0;
        width: 100%;
        left: 0;
        padding: 0 30px;
        background-color: darkslateblue; }
        .header .container-fluid .menu .menu_list .list__link {
          margin-left: 36px;
          color: #ffffff;
          font-size: 0;
          line-height: 68px;
          text-transform: uppercase;
          font-family: "Poppins", sans-serif;
          font-weight: 400;
          text-decoration: none;
          transition: .3s; }
        .header .container-fluid .menu .menu_list.active {
          opacity: 1;
          max-height: fit-content;
          top: 114px;
          flex-direction: column; }
          .header .container-fluid .menu .menu_list.active .list__link {
            font-size: 1.5em; }
  .header__content {
    margin-top: 50px; }
    .header__content__title {
      padding-left: 20px;
      font-size: 36px; }
  .section__blogs .blogs {
    padding: 0 1em; }
    .section__blogs .blogs__block {
      grid-template-columns: repeat(auto-fill, minmax(100%, 1fr)); }
  .section__brands {
    margin-top: 50px; }
    .section__brands .brand {
      overflow: hidden; }
      .section__brands .brand__slider_item {
        text-align: center; }
  .section__contact {
    height: 525px;
    background-image: url("../../imgs/Bg_Dots.png");
    background-size: cover;
    background-position: center;
    margin-top: 100px;
    padding-top: 30px; }
    .section__contact .contact {
      position: relative; }
      .section__contact .contact__title {
        margin-top: 120px;
        font-size: 48px;
        margin-top: 0;
        font-size: 48px; }
      .section__contact .contact__block {
        position: absolute;
        left: 0%;
        top: 40%;
        padding: 52px 22px;
        width: 100%;
        box-shadow: 0 -80px 81px 14px rgba(224, 241, 255, 0.34);
        border-radius: 1px;
        background-color: #ffffff;
        margin: 0 auto;
        margin-top: 50px; }
        .section__contact .contact__block .form_title {
          color: #000000;
          font-family: "Roboto Slab", serif;
          font-size: 22px;
          font-weight: 400;
          text-align: center; }
        .section__contact .contact__block .contact_form .inline-form-group input, .section__contact .contact__block .contact_form .inline-form-group textarea, .section__contact .contact__block .contact_form .inline-form-group button, .section__contact .contact__block .contact_form .form-group input, .section__contact .contact__block .contact_form .form-group textarea, .section__contact .contact__block .contact_form .form-group button {
          border: 0; }
          .section__contact .contact__block .contact_form .inline-form-group input:focus, .section__contact .contact__block .contact_form .inline-form-group textarea:focus, .section__contact .contact__block .contact_form .inline-form-group button:focus, .section__contact .contact__block .contact_form .form-group input:focus, .section__contact .contact__block .contact_form .form-group textarea:focus, .section__contact .contact__block .contact_form .form-group button:focus {
            outline: 0;
            border-bottom: 2px solid #000000; }
        .section__contact .contact__block .contact_form .inline-form-group .message, .section__contact .contact__block .contact_form .form-group .message {
          height: 100px;
          width: 100%;
          border-bottom: 2px solid #00000020;
          padding: 10px 5px;
          margin-top: 60px; }
        .section__contact .contact__block .contact_form .inline-form-group {
          margin-top: 60px;
          display: flex;
          justify-content: space-between;
          flex-direction: column; }
          .section__contact .contact__block .contact_form .inline-form-group input {
            flex-basis: calc(100%);
            padding: 20px 5px;
            border-bottom: 2px solid #00000020;
            color: #00000080;
            font-family: "Roboto", sans-serif;
            font-size: 15px;
            font-weight: 400;
            line-height: 28px; }
        .section__contact .contact__block .contact_form .form-group {
          text-align: center; }
          .section__contact .contact__block .contact_form .form-group .submit_button {
            border-radius: 6px;
            background-color: #41228e;
            color: #ffffff;
            font-family: "Roboto Slab", serif;
            font-size: 22px;
            font-weight: 400;
            text-transform: uppercase;
            padding: 21px 0;
            width: 100%;
            margin-top: 42px;
            transition: .3s; }
            .section__contact .contact__block .contact_form .form-group .submit_button:hover {
              background-color: #51228e; }
  .footer {
    height: auto; }
    .footer .container {
      padding: 0 22px; }
    .footer .top_footer {
      grid-template-columns: 1fr;
      padding-top: 280px;
      grid-gap: 46px; }
      .footer .top_footer_item {
        flex-direction: column; }
    .footer .bottom_footer {
      padding-top: 27px;
      padding-bottom: 27px; }
      .footer .bottom_footer .container {
        flex-direction: column;
        text-align: center; }
        .footer .bottom_footer .container .developer a {
          opacity: 1;
          color: #fff; } }
