@charset "UTF-8";
body {
  overflow-x: hidden; }

.container {
  width: 1200px;
  margin: 0 auto; }

* {
  box-sizing: border-box; }

#hamburger {
  width: 80px;
  height: 80px;
  cursor: pointer;
  background: white;
  border-radius: 50%;
  border: none;
  outline: none; }
  #hamburger span {
    position: absolute;
    width: 50px;
    height: 4px;
    background: #262626;
    border-radius: 2px;
    overflow: hidden;
    transition: all 0.3s linear; }
    #hamburger span::before {
      content: "";
      position: absolute;
      width: 0;
      height: 100%;
      top: 0;
      right: 0;
      background: gray;
      transition: all 0.3s linear; }
    #hamburger span:nth-child(1) {
      animation: span-first-off 0.5s ease-in-out;
      animation-fill-mode: forwards; }
    #hamburger span:nth-child(2) {
      animation: span-second-off 0.5s ease-in-out;
      animation-fill-mode: forwards; }
    #hamburger span:nth-child(3) {
      animation: span-third-off 0.5s ease-in-out;
      animation-fill-mode: forwards; }

#hamburger.on:hover span::before {
  width: 100%;
  transition: all 0.3s linear; }

#hamburger.on span:nth-child(1) {
  animation: span-first-on 0.5s ease-in-out;
  animation-fill-mode: forwards; }

#hamburger.on span:nth-child(2) {
  animation: span-second-on 0.5s ease-in-out;
  animation-fill-mode: forwards; }

#hamburger.on span:nth-child(3) {
  animation: span-third-on 0.5s ease-in-out;
  animation-fill-mode: forwards; }

@keyframes span-first-on {
  0% {
    transform: translate(-50%, -300%); }
  30% {
    transform: translate(-50%, -50%); }
  100% {
    transform: translate(-50%, -50%) rotate(-45deg); } }

@keyframes span-first-off {
  0% {
    transform: translate(-50%, -50%) rotate(-45deg); }
  30% {
    transform: translate(-50%, -50%) rotate(0deg); }
  100% {
    transform: translate(-50%, -300%); } }

@keyframes span-second-on {
  0% {
    transform: translate(-50%, -50%); }
  25% {
    background: gray; }
  50% {
    transform: translate(-50%, -50%) scale(1); }
  100% {
    transform: translate(-150%, -50%) scale(0); } }

@keyframes span-second-off {
  0% {
    transform: translate(-150%, -50%) scale(0); }
  25% {
    background: gray; }
  50% {
    transform: translate(-50%, -50%) scale(1); }
  100% {
    transform: translate(-50%, -50%); } }

@keyframes span-third-on {
  0% {
    transform: translate(-50%, 200%); }
  30% {
    transform: translate(-50%, -50%); }
  100% {
    transform: translate(-50%, -50%) rotate(45deg); } }

@keyframes span-third-off {
  0% {
    transform: translate(-50%, -50%) rotate(45deg); }
  30% {
    transform: translate(-50%, -50%) rotate(0deg); }
  100% {
    transform: translate(-50%, 200%); } }

.header {
  background-image: url("../../imgs/bg-1.svg");
  height: 950px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative; }
  .header .container-fluid {
    box-sizing: border-box;
    width: 100%;
    display: grid;
    grid-template-columns: auto 1fr;
    justify-items: end;
    padding: 30px 112px; }
    .header .container-fluid .logo {
      display: inline-flex;
      justify-items: center;
      align-items: center;
      z-index: 1000; }
    .header .container-fluid .menu {
      z-index: 1000; }
      .header .container-fluid .menu_list .list__link {
        /* Style for "HOME" */
        margin-left: 36px;
        color: #ffffff;
        font-size: 18px;
        line-height: 84px;
        text-transform: uppercase;
        /* Text style for "ABOUT" */
        font-family: "Poppins", sans-serif;
        font-weight: 400;
        text-decoration: none;
        transition: .3s; }
        .header .container-fluid .menu_list .list__link:hover, .header .container-fluid .menu_list .list__link.active {
          color: #999; }
  .header__content {
    margin-top: 220px; }
    .header__content__title {
      /* Style for "Hi! I’m  C" */
      color: #ffffff;
      font-family: "Poppins", sans-serif;
      font-size: 80px;
      font-weight: 700;
      /* Text style for "Hi! I’m  ," */
      line-height: 97px;
      /* Text style for "," */
      font-size: 60px;
      line-height: 85px;
      padding-left: 100px; }
  .header .social {
    position: absolute;
    left: 76px;
    bottom: 70px;
    display: flex;
    flex-direction: column; }
    .header .social .social__link {
      display: inline-block;
      width: 24px;
      height: 18px;
      margin-top: 24px; }
  .header .leaf1, .header .leaf2, .header .leaf3, .header .leaf4, .header .leaf4, .header .leaf5, .header .leaf6 {
    z-index: 0; }
  .header .leaf1 {
    position: absolute;
    bottom: 16%;
    right: 0px; }
  .header .leaf2 {
    position: absolute;
    top: 13%;
    right: -173px; }
  .header .leaf3 {
    position: absolute;
    top: 20%;
    left: 41%; }
  .header .leaf4 {
    position: absolute;
    top: 18%;
    left: -300px; }
  .header .leaf5 {
    position: absolute;
    bottom: -43px;
    left: 0%; }
  .header .leaf6 {
    position: absolute;
    bottom: 19%;
    right: 34%; }

@keyframes moveLeft {
  0% { }
  25% {
    right: 5%; }
  100% {
    bottom: 10%; } }

@keyframes moveRight {
  0% {
    left: 0; }
  25% {
    left: -100px; }
  100% {
    left: -300px; } }

@keyframes moveRight2 {
  0% {
    left: 15%; }
  25% {
    bottom: -43px;
    left: 0%;
    transform: scale(1.2); }
  100% {
    left: 16%;
    transform: scale(1); } }

.section__skills {
  padding: 80px 0;
  text-align: center; }
  .section__skills .about_me__text {
    color: #000000;
    font-family: "Roboto Slab", serif;
    font-size: 22px;
    font-weight: 400;
    line-height: 36px;
    text-align: center;
    padding: 0 100px; }
  .section__skills .about_me .know_more {
    color: #41228e;
    font-family: "Roboto Slab", serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 84px;
    text-transform: uppercase;
    text-decoration: none;
    margin-top: 48px; }
  .section__skills .skills__title {
    margin-top: 120px;
    margin-top: 120px;
    color: #000000;
    font-family: "Poppins", sans-serif;
    font-size: 60px;
    font-weight: 700;
    line-height: 86px;
    text-align: center; }
  .section__skills .skills__block {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-top: 100px; }
    .section__skills .skills__block__item {
      width: 270px;
      min-height: 224px;
      box-shadow: 0 59px 39px 7px rgba(224, 241, 255, 0.34);
      background-color: #ffffff; }
      .section__skills .skills__block__item .item_fill {
        position: relative;
        overflow: hidden;
        height: 154px; }
      .section__skills .skills__block__item .item_fill_wave {
        height: 154px; }
        .section__skills .skills__block__item .item_fill_wave::before {
          content: '';
          display: block;
          width: 600px;
          height: 600px;
          bottom: 45%;
          left: -160px;
          position: absolute;
          z-index: 10;
          transition: 1s;
          border-radius: 47%;
          animation-name: rotate;
          animation-timing-function: linear;
          animation-duration: 10s;
          animation-fill-mode: forwards;
          animation-iteration-count: infinite; }
        .section__skills .skills__block__item .item_fill_wave::after {
          content: '';
          display: block;
          width: 600px;
          height: 600px;
          bottom: 50%;
          left: -150px;
          position: absolute;
          z-index: 10;
          transition: 1s;
          border-radius: 47%;
          animation-name: rotate2;
          animation-timing-function: linear;
          animation-duration: 10s;
          animation-fill-mode: forwards;
          animation-iteration-count: infinite; }
      .section__skills .skills__block__item:nth-child(1) .item_fill {
        background-color: #fdb157; }
      .section__skills .skills__block__item:nth-child(1) .item_fill_wave {
        height: 154px; }
        .section__skills .skills__block__item:nth-child(1) .item_fill_wave:nth-child(1)::before {
          background-color: #fed09a; }
        .section__skills .skills__block__item:nth-child(1) .item_fill_wave:nth-child(1)::after {
          background-color: #fcf8f3; }
      .section__skills .skills__block__item:nth-child(2) .item_fill {
        background-color: #9473e6; }
      .section__skills .skills__block__item:nth-child(2) .item_fill_wave::before {
        background-color: #bfabf0; }
      .section__skills .skills__block__item:nth-child(2) .item_fill_wave::after {
        background-color: #f9f7fe; }
      .section__skills .skills__block__item:nth-child(3) .item_fill {
        background-color: #bdecf6; }
      .section__skills .skills__block__item:nth-child(3) .item_fill_wave::before {
        background-color: #d7f4fa; }
      .section__skills .skills__block__item:nth-child(3) .item_fill_wave::after {
        background-color: #f2fbfd; }
      .section__skills .skills__block__item:nth-child(4) .item_fill {
        background-color: #13bb66; }
      .section__skills .skills__block__item:nth-child(4) .item_fill_wave::before {
        background-color: #42ff9f; }
      .section__skills .skills__block__item:nth-child(4) .item_fill_wave::after {
        background-color: #effbf5; }
      .section__skills .skills__block__item .item_footer {
        color: #000000;
        font-family: "Roboto Slab", serif;
        font-size: 22px;
        font-weight: 400;
        line-height: 84px; }

@keyframes rotate {
  0% {
    transform: rotateZ(0deg); }
  50% {
    transform: rotateZ(180deg); }
  100% {
    transform: rotateZ(360deg); } }

@keyframes rotate2 {
  0% {
    transform: rotateZ(0deg); }
  50% {
    transform: rotateZ(-180deg); }
  100% {
    transform: rotateZ(-360deg); } }

.section__experience {
  background-image: url("../../imgs/Line.png");
  background-position: 0 250px;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: -1; }
  .section__experience .experience__title {
    margin-top: 120px;
    color: #000000;
    font-family: "Poppins", sans-serif;
    font-size: 60px;
    font-weight: 700;
    line-height: 86px;
    text-align: center; }
  .section__experience .experience__block {
    margin-top: 85px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; }
    .section__experience .experience__block__item {
      text-align: center; }
      .section__experience .experience__block__item .icon_rect {
        width: 64px;
        height: 64px;
        margin: 0 auto;
        border-radius: 50%;
        position: relative;
        padding: 5px; }
        .section__experience .experience__block__item .icon_rect::before {
          content: '';
          top: 0px;
          left: 0px;
          border-radius: 50%;
          display: inline-block;
          position: absolute;
          width: 100%;
          height: 100%; }
        .section__experience .experience__block__item .icon_rect::after {
          content: '';
          top: 11px;
          left: 11px;
          border-radius: 50%;
          display: inline-block;
          position: absolute;
          width: 50px;
          height: 50px;
          background: #fff; }
      .section__experience .experience__block__item .item_footer > span {
        display: block; }
      .section__experience .experience__block__item .item_footer .years_experience {
        color: #000000;
        font-family: "Roboto", sans-serif;
        font-size: 18px;
        font-weight: 400;
        margin-top: 41px; }
      .section__experience .experience__block__item .item_footer .title_experience {
        color: #000000;
        font-family: "Roboto Slab", serif;
        font-size: 22px;
        font-weight: 400;
        margin-top: 20px; }
      .section__experience .experience__block__item .item_footer .place_experience {
        opacity: 0.4;
        color: #000000;
        font-family: "Roboto Slab", serif;
        font-size: 22px;
        font-weight: 400;
        text-transform: uppercase;
        margin-top: 15px; }
      .section__experience .experience__block__item:nth-child(1) .icon_rect {
        box-shadow: 0 0 21px 8px #f555a515;
        background-image: linear-gradient(35deg, #f54ea2 0%, #fda4d1 98%, #fda4d1 100%); }
      .section__experience .experience__block__item:nth-child(2) .icon_rect {
        box-shadow: 0 0 21px 8px rgba(255, 162, 51, 0.1);
        background-image: linear-gradient(-16deg, #ff9e2b 0%, #fae0c2 97%, #fae0c2 100%); }
      .section__experience .experience__block__item:nth-child(3) .icon_rect {
        box-shadow: 0 0 21px 8px rgba(46, 251, 228, 0.1);
        background-image: linear-gradient(35deg, #1cffd2 0%, #46f7fd 98%, #46f7fd 100%); }

.section__education {
  position: relative;
  height: 900px;
  z-index: 10; }
  .section__education .bg {
    top: -170px;
    left: 0;
    position: absolute;
    height: 150%;
    width: 100%;
    background-image: url("../../imgs/dots-with-line.png");
    background-repeat: no-repeat;
    background-position: 0 0px;
    background-size: 104%;
    z-index: -1; }
  .section__education .education {
    z-index: 20;
    padding-top: 200px; }
    .section__education .education__title {
      margin-top: 120px;
      color: #000000;
      font-family: "Poppins", sans-serif;
      font-size: 60px;
      font-weight: 700;
      line-height: 86px;
      text-align: center;
      margin-top: 0; }
    .section__education .education__block {
      margin-top: 108px;
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
      grid-auto-rows: auto;
      grid-gap: 88px; }
      .section__education .education__block__item {
        display: grid;
        grid-template-columns: 1fr 2fr;
        justify-items: baseline;
        align-items: center; }
        .section__education .education__block__item .education_icon {
          width: 101px;
          height: 101px;
          box-shadow: 0 18px 39px 7px rgba(224, 241, 255, 0.34);
          background-color: #ffffff;
          border-radius: 50%;
          display: inline-flex;
          align-items: center;
          justify-content: center; }
          .section__education .education__block__item .education_icon svg {
            fill: #c8d5ef;
            width: 50%; }
        .section__education .education__block__item .item_footer > span {
          display: block;
          font-weight: 400;
          color: #000000; }
        .section__education .education__block__item .item_footer .years_education {
          font-family: "Roboto", sans-serif;
          font-size: 18px; }
        .section__education .education__block__item .item_footer .title_education {
          font-family: "Roboto Slab", serif;
          font-size: 22px;
          margin-top: 20px; }
        .section__education .education__block__item .item_footer .place_education {
          margin-top: 16px;
          opacity: 0.4;
          font-family: "Roboto Slab", serif;
          font-size: 18px; }

.section__service .service__title {
  margin-top: 120px;
  color: #000000;
  font-family: "Poppins", sans-serif;
  font-size: 60px;
  font-weight: 700;
  line-height: 86px;
  text-align: center;
  margin-top: 0; }

.section__service .service__block {
  margin-top: 100px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 2em; }
  .section__service .service__block__item {
    text-align: center;
    padding: 80px 50px;
    transition: all .3s; }
    .section__service .service__block__item .title {
      color: #000000;
      font-family: "Roboto Slab", serif;
      font-size: 22px;
      font-weight: 400;
      margin-top: 52px; }
    .section__service .service__block__item .item_footer {
      margin-top: 28px;
      opacity: 0.7;
      color: #000000;
      font-family: "Roboto", sans-serif;
      font-size: 15px;
      font-weight: 400;
      line-height: 28px; }
    .section__service .service__block__item.active {
      box-shadow: 0 59px 39px 7px rgba(224, 241, 255, 0.34);
      border-radius: 3px;
      background-color: #41228e; }
      .section__service .service__block__item.active .title {
        color: #ffffff; }
      .section__service .service__block__item.active .item_footer {
        opacity: 0.7;
        color: #ffffff; }
    .section__service .service__block__item:hover {
      box-shadow: 0 59px 39px 7px rgba(224, 241, 255, 0.34);
      border-radius: 3px;
      background-color: #41228e; }
      .section__service .service__block__item:hover .title {
        color: #ffffff; }
      .section__service .service__block__item:hover .item_footer {
        opacity: 0.7;
        color: #ffffff; }

.section__portfolio .portfolio__title {
  margin-top: 120px;
  color: #000000;
  font-family: "Poppins", sans-serif;
  font-size: 60px;
  font-weight: 700;
  line-height: 86px;
  text-align: center;
  margin-top: 176px; }

.section__portfolio .portfolio__block {
  margin-top: 100px;
  column-count: 3;
  column-gap: 2em; }
  .section__portfolio .portfolio__block__item {
    margin-top: 1.4em; }
    .section__portfolio .portfolio__block__item:nth-child(1) {
      margin-top: 0; }
    .section__portfolio .portfolio__block__item .portfolio_img img {
      width: 100%; }
    .section__portfolio .portfolio__block__item:nth-child(1) {
      grid-column: 1;
      grid-row: 1 / 3; }

.section__testimonials {
  margin-top: 175px;
  background-color: #41228e;
  height: 770px;
  position: relative; }
  .section__testimonials .testimonials {
    background-image: url("../../imgs/Map.svg");
    background-position: 0 100px;
    background-repeat: no-repeat;
    background-size: 108%;
    overflow: hidden; }
    .section__testimonials .testimonials__title {
      margin-top: 120px;
      color: #000000;
      font-family: "Poppins", sans-serif;
      font-size: 60px;
      font-weight: 700;
      line-height: 86px;
      text-align: center;
      color: #ffffff;
      line-height: unset;
      margin-top: 110px; }
      .section__testimonials .testimonials__title::after {
        display: block;
        content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='58' height='46' viewBox='0 0 58 46'%3E%3Cg%3E%3Cg%3E%3Cpath fill='%23fff' d='M58 19.684c.114-4.96-1.394-8.864-3.367-11.833-1.659-3.54-4.524-6.158-7.867-7.188A6.811 6.811 0 0 0 46.27.43c-1.48-.58-3.491-.447-3.491-.447l-.031.242c-.218.018-.435.023-.655.055-6.693.951-11.31 8.012-10.312 15.771.998 7.759 7.233 13.277 13.927 12.326a10.791 10.791 0 0 0 3.417-1.096c-1.345 11.323-7.5 18.707-7.5 18.707 7.502-.383 16.058-12.45 16.375-26.304zm-31.676 0c.113-4.96-1.394-8.864-3.367-11.833-1.66-3.54-4.525-6.158-7.867-7.188a6.794 6.794 0 0 0-.497-.233c-1.479-.58-3.49-.447-3.49-.447l-.032.242c-.218.018-.435.023-.654.055C3.724 1.231-.893 8.292.105 16.051c.998 7.759 7.233 13.277 13.926 12.326a10.79 10.79 0 0 0 3.417-1.096c-1.344 11.323-7.5 18.707-7.5 18.707 7.502-.383 16.058-12.45 16.376-26.304z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
        width: 100%;
        margin-top: 40px; }
    .section__testimonials .testimonials_slider {
      display: flex; }
      .section__testimonials .testimonials_slider__item {
        text-align: center;
        display: grid;
        justify-items: center;
        padding: 0 110px; }
        .section__testimonials .testimonials_slider__item .testimonial_text {
          margin-top: 20px;
          color: #ffffff;
          font-family: "Roboto Slab", serif;
          font-size: 18px;
          font-weight: 400;
          line-height: 36px; }
          .section__testimonials .testimonials_slider__item .testimonial_text .marked {
            color: #2bfdff; }
        .section__testimonials .testimonials_slider__item .person_photo {
          margin-top: 44px;
          width: 106px;
          height: 106px;
          border-radius: 50%;
          overflow: hidden; }
        .section__testimonials .testimonials_slider__item .person_name {
          color: #ffffff;
          font-family: "Roboto Slab", serif;
          font-size: 22px;
          font-weight: 400;
          margin-top: 25px; }
        .section__testimonials .testimonials_slider__item .person_title {
          opacity: 0.4;
          color: #ffffff;
          font-family: "Roboto Slab", serif;
          font-size: 18px;
          font-weight: 400;
          margin-top: 10px; }
    .section__testimonials .testimonials [data-action="stop"], .section__testimonials .testimonials [data-action="start"], .section__testimonials .testimonials .tns-liveregion {
      display: none; }
    .section__testimonials .testimonials .tns-nav {
      margin-top: 30px;
      text-align: center; }
      .section__testimonials .testimonials .tns-nav > button {
        width: 11px;
        height: 6px;
        border-radius: 3px;
        background-color: #ffffff;
        opacity: 0.37;
        border: 0;
        margin-left: 4px;
        transition: .3s; }
        .section__testimonials .testimonials .tns-nav > button.tns-nav-active {
          position: relative;
          padding-right: 15px;
          padding-left: 15px;
          opacity: 1; }
          .section__testimonials .testimonials .tns-nav > button.tns-nav-active::after {
            position: absolute;
            top: 0;
            background-color: #fff;
            content: '';
            height: 6px;
            width: 10px;
            border-radius: 2px;
            animation: pullLeft .5s linear forwards; }
          .section__testimonials .testimonials .tns-nav > button.tns-nav-active::before {
            position: absolute;
            top: 0;
            background-color: #fff;
            content: '';
            height: 6px;
            width: 10px;
            border-radius: 2px;
            animation: pullRight .5s linear forwards; }
  .section__testimonials .leaf1 {
    position: absolute;
    top: 51px;
    right: 258px; }
  .section__testimonials .leaf2 {
    position: absolute;
    left: 135px;
    bottom: 190px; }
  .section__testimonials .leaf3 {
    position: absolute;
    right: 200px;
    bottom: -30px; }
  .section__testimonials .vertical-dots {
    position: absolute;
    left: 135px;
    top: -40px; }

@keyframes pullLeft {
  from {
    right: 8px; }
  to {
    right: 0px; } }

@keyframes pullRight {
  from {
    left: -8px; }
  to {
    left: 0px; } }

.section__brands {
  margin-top: 140px; }
  .section__brands .brand {
    overflow: hidden; }
    .section__brands .brand__slider {
      display: flex;
      justify-items: center;
      align-items: center; }
      .section__brands .brand__slider_item {
        -webkit-user-select: none;
        /* Chrome all / Safari all */
        -moz-user-select: none;
        /* Firefox all */
        -ms-user-select: none;
        /* IE 10+ */
        user-select: none;
        /* Likely future */
        text-align: center; }
    .section__brands .brand [data-action="stop"], .section__brands .brand [data-action="start"], .section__brands .brand .tns-liveregion {
      display: none; }

.section__blogs .blogs__title {
  margin-top: 120px;
  color: #000000;
  font-family: "Poppins", sans-serif;
  font-size: 60px;
  font-weight: 700;
  line-height: 86px;
  text-align: center; }

.section__blogs .blogs__block {
  margin-top: 90px;
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-gap: 1.5em; }
  .section__blogs .blogs__block__item {
    box-shadow: 0 59px 39px 7px rgba(224, 241, 255, 0.34);
    border-radius: 6px;
    background-color: #ffffff;
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    align-items: center;
    min-height: 500px;
    top: 0;
    transition: .2s;
    position: relative; }
    .section__blogs .blogs__block__item .blog_img {
      width: 100%; }
      .section__blogs .blogs__block__item .blog_img img {
        width: 100%; }
    .section__blogs .blogs__block__item .blog_content {
      padding-top: 34px;
      padding-left: 30px;
      padding-right: 30px;
      padding-bottom: 23px; }
      .section__blogs .blogs__block__item .blog_content .blog_title {
        color: #000000;
        font-family: "Roboto Slab", serif;
        font-size: 22px;
        font-weight: 400;
        line-height: 36px; }
      .section__blogs .blogs__block__item .blog_content .blog_preview {
        opacity: 0.7;
        color: #000000;
        font-family: "Roboto", sans-serif;
        font-size: 15px;
        font-weight: 300;
        line-height: 25px;
        margin-top: 10px; }
      .section__blogs .blogs__block__item .blog_content .blog_category {
        margin-top: 15px;
        background-color: #41228e20;
        color: #41228e;
        font-family: "Roboto Slab", serif;
        font-size: 15px;
        font-weight: 400;
        line-height: 16px;
        padding: 6px 12px;
        text-decoration: none;
        display: inline-block; }
    .section__blogs .blogs__block__item.wide {
      flex-direction: row; }
      .section__blogs .blogs__block__item.wide .blog_content, .section__blogs .blogs__block__item.wide .blog_img {
        flex-basis: calc(100% / 2);
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center; }
        .section__blogs .blogs__block__item.wide .blog_content img, .section__blogs .blogs__block__item.wide .blog_img img {
          height: 100%; }
      .section__blogs .blogs__block__item.wide .blog_content {
        padding: 78px 56px; }
        .section__blogs .blogs__block__item.wide .blog_content .blog_title {
          color: #000000;
          font-family: "Roboto Slab", serif;
          font-size: 22px;
          font-weight: 400;
          line-height: 36px; }
        .section__blogs .blogs__block__item.wide .blog_content .blog_preview {
          opacity: 0.7;
          color: #000000;
          font-family: "Roboto", sans-serif;
          font-size: 15px;
          font-weight: 300;
          line-height: 25px;
          margin-top: 21px; }
        .section__blogs .blogs__block__item.wide .blog_content .blog_category {
          margin-top: 52px;
          background-color: #41228e20;
          color: #41228e;
          font-family: "Roboto Slab", serif;
          font-size: 15px;
          font-weight: 400;
          line-height: 16px;
          padding: 6px 12px;
          text-decoration: none;
          justify-self: left; }
    .section__blogs .blogs__block__item:hover {
      top: -10px;
      -webkit-box-shadow: -17px 104px 211px -30px rgba(112, 112, 112, 0.79);
      -moz-box-shadow: -17px 104px 211px -30px rgba(112, 112, 112, 0.79);
      box-shadow: -17px 60px 60px -30px rgba(112, 112, 112, 0.19);
      top: -20px;
      cursor: pointer; }

.section__contact {
  height: 525px;
  background-image: url("../../imgs/Bg_Dots.png");
  background-size: cover;
  background-position: center;
  margin-top: 130px;
  padding-top: 60px; }
  .section__contact .contact {
    position: relative; }
    .section__contact .contact__title {
      margin-top: 120px;
      color: #000000;
      font-family: "Poppins", sans-serif;
      font-size: 60px;
      font-weight: 700;
      line-height: 86px;
      text-align: center;
      margin-top: 0; }
    .section__contact .contact__block {
      position: absolute;
      left: 20%;
      top: 40%;
      padding: 52px 68px;
      width: 765px;
      box-shadow: 0 -80px 81px 14px rgba(224, 241, 255, 0.34);
      border-radius: 6px;
      background-color: #ffffff;
      margin: 0 auto;
      margin-top: 100px; }
      .section__contact .contact__block .form_title {
        color: #000000;
        font-family: "Roboto Slab", serif;
        font-size: 22px;
        font-weight: 400;
        text-align: center; }
      .section__contact .contact__block .contact_form .inline-form-group input, .section__contact .contact__block .contact_form .inline-form-group textarea, .section__contact .contact__block .contact_form .inline-form-group button, .section__contact .contact__block .contact_form .form-group input, .section__contact .contact__block .contact_form .form-group textarea, .section__contact .contact__block .contact_form .form-group button {
        border: 0; }
        .section__contact .contact__block .contact_form .inline-form-group input:focus, .section__contact .contact__block .contact_form .inline-form-group textarea:focus, .section__contact .contact__block .contact_form .inline-form-group button:focus, .section__contact .contact__block .contact_form .form-group input:focus, .section__contact .contact__block .contact_form .form-group textarea:focus, .section__contact .contact__block .contact_form .form-group button:focus {
          outline: 0;
          border-bottom: 2px solid #000000; }
      .section__contact .contact__block .contact_form .inline-form-group .message, .section__contact .contact__block .contact_form .form-group .message {
        height: 100px;
        width: 100%;
        border-bottom: 2px solid #00000020;
        padding: 10px 5px;
        margin-top: 60px; }
      .section__contact .contact__block .contact_form .inline-form-group {
        margin-top: 60px;
        display: flex;
        justify-content: space-between; }
        .section__contact .contact__block .contact_form .inline-form-group input {
          flex-basis: calc(50% - 41px);
          padding: 20px 5px;
          border-bottom: 2px solid #00000020;
          color: #00000080;
          font-family: "Roboto", sans-serif;
          font-size: 15px;
          font-weight: 400;
          line-height: 28px; }
      .section__contact .contact__block .contact_form .form-group {
        text-align: center; }
        .section__contact .contact__block .contact_form .form-group .submit_button {
          border-radius: 6px;
          background-color: #41228e;
          color: #ffffff;
          font-family: "Roboto Slab", serif;
          font-size: 22px;
          font-weight: 400;
          text-transform: uppercase;
          padding: 21px 150px;
          margin-top: 42px;
          transition: .3s; }
          .section__contact .contact__block .contact_form .form-group .submit_button:hover {
            background-color: #51228e;
            box-shadow: 0 10px 30px 14px rgba(65, 34, 142, 0.14); }

.footer {
  height: 543px;
  background-color: #222222; }
  .footer .top_footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding-top: 280px;
    grid-gap: 146px; }
    .footer .top_footer_item {
      display: flex;
      flex-direction: column;
      justify-content: flex-end; }
      .footer .top_footer_item > span {
        display: block; }
      .footer .top_footer_item .label {
        opacity: 0.4;
        color: #ffffff;
        font-family: "Roboto Slab", serif;
        font-size: 18px;
        font-weight: 400; }
      .footer .top_footer_item .item_value {
        color: #ffffff;
        font-family: "Roboto Slab", serif;
        font-size: 22px;
        font-weight: 400;
        margin-top: 25px; }
  .footer .bottom_footer {
    margin-top: 62px;
    border-top: 1px solid #ffffff12;
    align-items: center;
    padding-top: 47px; }
    .footer .bottom_footer .container {
      display: flex;
      justify-content: space-between; }
      .footer .bottom_footer .container > span {
        opacity: 0.7;
        color: #ffffff;
        font-family: "Roboto", sans-serif;
        font-size: 15px;
        font-weight: 400;
        line-height: 28px; }
      .footer .bottom_footer .container .developer a {
        opacity: 1;
        color: #fff; }

#hamburger {
  display: none; }

/* On screens that are 1048px or less, set the background color to olive */
@media screen and (max-width: 1048px) {
  .container {
    width: 100%; }
  .header .leaf1, .header .leaf2, .header .leaf3, .header .leaf3, .header .leaf4, .header .leaf5 {
    display: none; }
  .header #hamburger {
    display: inline-block; }
  .header .container-fluid {
    width: 100%;
    padding: 15px 22px;
    grid-template-columns: 1fr 1fr;
    justify-items: unset; }
    .header .container-fluid .menu {
      text-align: right; }
      .header .container-fluid .menu .menu_list {
        display: flex;
        opacity: 0;
        transition: background-color .3s;
        position: absolute;
        flex-direction: column;
        max-height: 0;
        width: 100%;
        left: 0;
        padding: 0 30px;
        background-color: darkslateblue; }
        .header .container-fluid .menu .menu_list .list__link {
          margin-left: 36px;
          color: #ffffff;
          font-size: 0;
          line-height: 68px;
          text-transform: uppercase;
          font-family: "Poppins", sans-serif;
          font-weight: 400;
          text-decoration: none;
          transition: .3s; }
        .header .container-fluid .menu .menu_list.active {
          opacity: 1;
          max-height: fit-content;
          top: 114px;
          flex-direction: revert; }
          .header .container-fluid .menu .menu_list.active .list__link {
            font-size: 1.5em; }
  .header__content {
    margin-top: 200px; }
    .header__content__title {
      padding-left: 20px;
      font-size: 36px; }
  .section__skills {
    padding: 80px 0;
    text-align: center; }
    .section__skills .about_me__text {
      padding: 0 22px; }
    .section__skills .skills__block {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      margin-top: 50px;
      justify-items: center;
      grid-gap: 2em; }
  .section__experience {
    background-image: url("../../imgs/Line.png");
    z-index: -1; }
    .section__experience .experience__block {
      margin-top: 50px;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-row-gap: 3em; }
  .section__education {
    height: auto;
    margin-top: 180px; }
    .section__education .bg {
      top: -170px;
      left: 0;
      position: absolute;
      height: 150%;
      width: 100%; }
    .section__education .education {
      z-index: 20;
      padding: 0 30px;
      padding-top: 30px; }
      .section__education .education__title {
        margin-top: 0; }
      .section__education .education__block {
        margin-top: 80px;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto;
        padding: 0 22px;
        grid-gap: 88px;
        direction: ltr; }
        .section__education .education__block__item {
          grid-gap: 1em; }
  .section__service {
    margin-top: 180px; }
    .section__service .service__title {
      margin-top: 120px;
      color: #000000;
      font-family: "Poppins", sans-serif;
      font-size: 60px;
      font-weight: 700;
      line-height: 86px;
      text-align: center;
      margin-top: 0;
      line-height: 0; }
    .section__service .service__block {
      margin-top: 80px;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-column-gap: 2em;
      justify-items: center;
      justify-content: center; }
      .section__service .service__block__item {
        text-align: center;
        padding: 80px 50px;
        transition: all .3s; }
        .section__service .service__block__item .title {
          margin-top: 52px; }
        .section__service .service__block__item .item_footer {
          margin-top: 28px; }
        .section__service .service__block__item.active {
          box-shadow: 0 -20px 39px 0px rgba(224, 241, 255, 0.34); }
          .section__service .service__block__item.active .item_footer {
            opacity: 0.7;
            color: #ffffff; }
        .section__service .service__block__item:hover {
          box-shadow: 0 59px 39px 2px rgba(224, 241, 255, 0.34);
          border-radius: 3px;
          background-color: #41228e; }
          .section__service .service__block__item:hover .title {
            color: #ffffff; }
          .section__service .service__block__item:hover .item_footer {
            opacity: 0.7;
            color: #ffffff; }
  .section__portfolio {
    margin-top: 150px; }
    .section__portfolio .portfolio {
      padding: 0 30px; }
      .section__portfolio .portfolio__block {
        margin-top: 50px;
        column-count: 2;
        column-gap: 2em; }
        .section__portfolio .portfolio__block__item .portfolio_img img {
          width: 100%; }
        .section__portfolio .portfolio__block__item:nth-child(1) {
          grid-column: 1;
          grid-row: 1 / 3; }
  .section__testimonials {
    margin-top: 150px;
    height: 880px;
    position: relative; }
    .section__testimonials .testimonials {
      background-image: url("../../imgs/Map.svg");
      background-position: 0 100px;
      background-repeat: no-repeat;
      background-size: 108%;
      overflow: hidden; }
      .section__testimonials .testimonials__title {
        font-size: 48px;
        margin-top: 110px; }
      .section__testimonials .testimonials_slider {
        display: flex; }
        .section__testimonials .testimonials_slider__item {
          text-align: center;
          display: grid;
          justify-items: center;
          padding: 0 30px; }
          .section__testimonials .testimonials_slider__item .testimonial_text {
            font-size: 22px; }
            .section__testimonials .testimonials_slider__item .testimonial_text .marked {
              color: #2bfdff; }
      .section__testimonials .testimonials .tns-nav {
        margin-top: 30px;
        text-align: center; }
    .section__testimonials .leaf1 {
      display: none; }
    .section__testimonials .leaf2 {
      display: none; }
    .section__testimonials .leaf3 {
      display: none; }
  .section__brands {
    margin-top: 50px; }
    .section__brands .brand {
      overflow: hidden; }
      .section__brands .brand__slider_item {
        text-align: center; }
  .section__blogs .blogs {
    padding: 0 30px; }
    .section__blogs .blogs__block {
      margin-top: 50px;
      grid-template-columns: repeat(2, 1fr); }
      .section__blogs .blogs__block__item {
        justify-content: unset;
        background-color: unset; }
        .section__blogs .blogs__block__item .blog_content {
          padding-top: 15px;
          padding-left: 22px;
          padding-right: 22px;
          padding-bottom: 33px; }
        .section__blogs .blogs__block__item.wide {
          flex-direction: column-reverse; }
          .section__blogs .blogs__block__item.wide .blog_content, .section__blogs .blogs__block__item.wide .blog_img {
            flex-basis: calc(100%); }
            .section__blogs .blogs__block__item.wide .blog_content img, .section__blogs .blogs__block__item.wide .blog_img img {
              height: 100%; }
          .section__blogs .blogs__block__item.wide .blog_content {
            padding: 15px 22px 33px 15px; }
            .section__blogs .blogs__block__item.wide .blog_content .blog_preview {
              margin-top: 11px; }
            .section__blogs .blogs__block__item.wide .blog_content .blog_category {
              margin-top: 22px; }
  .section__contact {
    height: 525px;
    background-image: url("../../imgs/Bg_Dots.png");
    background-size: cover;
    background-position: center;
    margin-top: 100px;
    padding-top: 30px; }
    .section__contact .contact {
      position: relative; }
      .section__contact .contact__block {
        position: absolute;
        left: 0%;
        top: 40%;
        padding: 52px 30px;
        width: 100%;
        box-shadow: 0 -80px 81px 14px rgba(224, 241, 255, 0.34);
        border-radius: 1px;
        background-color: #ffffff;
        margin: 0 auto;
        margin-top: 50px; }
        .section__contact .contact__block .form_title {
          color: #000000;
          font-family: "Roboto Slab", serif;
          font-size: 22px;
          font-weight: 400;
          text-align: center; }
        .section__contact .contact__block .contact_form .inline-form-group input, .section__contact .contact__block .contact_form .inline-form-group textarea, .section__contact .contact__block .contact_form .inline-form-group button, .section__contact .contact__block .contact_form .form-group input, .section__contact .contact__block .contact_form .form-group textarea, .section__contact .contact__block .contact_form .form-group button {
          border: 0; }
          .section__contact .contact__block .contact_form .inline-form-group input:focus, .section__contact .contact__block .contact_form .inline-form-group textarea:focus, .section__contact .contact__block .contact_form .inline-form-group button:focus, .section__contact .contact__block .contact_form .form-group input:focus, .section__contact .contact__block .contact_form .form-group textarea:focus, .section__contact .contact__block .contact_form .form-group button:focus {
            outline: 0;
            border-bottom: 2px solid #000000; }
        .section__contact .contact__block .contact_form .inline-form-group .message, .section__contact .contact__block .contact_form .form-group .message {
          height: 100px;
          width: 100%;
          border-bottom: 2px solid #00000020;
          padding: 10px 5px;
          margin-top: 60px; }
        .section__contact .contact__block .contact_form .inline-form-group {
          margin-top: 60px;
          display: flex;
          justify-content: space-between;
          flex-direction: row; }
          .section__contact .contact__block .contact_form .inline-form-group input {
            flex-basis: calc(100%);
            padding: 20px 5px;
            border-bottom: 2px solid #00000020;
            color: #00000080;
            font-family: "Roboto", sans-serif;
            font-size: 15px;
            font-weight: 400;
            line-height: 28px; }
        .section__contact .contact__block .contact_form .form-group {
          text-align: center; }
          .section__contact .contact__block .contact_form .form-group .submit_button {
            border-radius: 6px;
            background-color: #41228e;
            color: #ffffff;
            font-family: "Roboto Slab", serif;
            font-size: 22px;
            font-weight: 400;
            text-transform: uppercase;
            padding: 21px 0;
            width: 100%;
            margin-top: 42px;
            transition: .3s; }
            .section__contact .contact__block .contact_form .form-group .submit_button:hover {
              background-color: #51228e; }
  .footer {
    height: auto; }
    .footer .container {
      padding: 0 22px; }
    .footer .top_footer {
      grid-template-columns: 1fr;
      padding-top: 280px;
      grid-gap: 46px; }
      .footer .top_footer_item {
        flex-direction: column; }
    .footer .bottom_footer {
      padding-top: 27px;
      padding-bottom: 27px; }
      .footer .bottom_footer .container {
        flex-direction: column;
        text-align: center; }
        .footer .bottom_footer .container .developer a {
          opacity: 1;
          color: #fff; } }

/* On screens that are 769px or less, set the background color to olive */
@media screen and (max-width: 769px) {
  .container {
    width: 100%; }
  .header .leaf1, .header .leaf2, .header .leaf3, .header .leaf3, .header .leaf4, .header .leaf5 {
    display: none; }
  .header #hamburger {
    display: inline-block; }
  .header .container-fluid {
    width: 100%;
    padding: 15px 22px;
    grid-template-columns: 1fr 1fr;
    justify-items: unset; }
    .header .container-fluid .menu {
      text-align: right; }
      .header .container-fluid .menu .menu_list {
        display: flex;
        opacity: 0;
        transition: background-color .3s;
        position: absolute;
        flex-direction: column;
        max-height: 0;
        width: 100%;
        left: 0;
        padding: 0 30px;
        background-color: darkslateblue; }
        .header .container-fluid .menu .menu_list .list__link {
          margin-left: 36px;
          color: #ffffff;
          font-size: 0;
          line-height: 68px;
          text-transform: uppercase;
          font-family: "Poppins", sans-serif;
          font-weight: 400;
          text-decoration: none;
          transition: .3s; }
        .header .container-fluid .menu .menu_list.active {
          opacity: 1;
          max-height: fit-content;
          top: 114px;
          flex-direction: column; }
          .header .container-fluid .menu .menu_list.active .list__link {
            font-size: 1.5em; }
  .header__content {
    margin-top: 200px; }
    .header__content__title {
      padding-left: 20px;
      font-size: 36px; }
  .section__skills {
    padding: 80px 0;
    text-align: center; }
    .section__skills .about_me__text {
      padding: 0 22px; }
    .section__skills .skills__block {
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      margin-top: 50px;
      justify-items: center;
      grid-gap: 2em; }
  .section__experience {
    background-image: url("../../imgs/Line.png");
    z-index: -1; }
    .section__experience .experience__block {
      margin-top: 50px;
      display: grid;
      grid-template-columns: 1fr;
      grid-row-gap: 3em; }
  .section__education {
    height: auto;
    margin-top: 150px; }
    .section__education .bg {
      top: -170px;
      left: 0;
      position: absolute;
      height: 150%;
      width: 100%; }
    .section__education .education {
      z-index: 20;
      padding-top: 0px; }
      .section__education .education__title {
        margin-top: 0; }
      .section__education .education__block {
        margin-top: 50px;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        padding: 0 22px;
        grid-gap: 88px;
        direction: rtl; }
        .section__education .education__block__item {
          grid-gap: 1em; }
  .section__service {
    margin-top: 150px; }
    .section__service .service__title {
      margin-top: 120px;
      color: #000000;
      font-family: "Poppins", sans-serif;
      font-size: 60px;
      font-weight: 700;
      line-height: 86px;
      text-align: center;
      margin-top: 0;
      line-height: 0; }
    .section__service .service__block {
      margin-top: 80px;
      display: grid;
      grid-template-columns: 1fr;
      grid-column-gap: 2em; }
      .section__service .service__block__item {
        text-align: center;
        padding: 80px 50px;
        transition: all .3s; }
        .section__service .service__block__item .title {
          margin-top: 52px; }
        .section__service .service__block__item .item_footer {
          margin-top: 28px; }
        .section__service .service__block__item.active {
          box-shadow: 0 -20px 39px 0px rgba(224, 241, 255, 0.34); }
          .section__service .service__block__item.active .item_footer {
            opacity: 0.7;
            color: #ffffff; }
        .section__service .service__block__item:hover {
          box-shadow: 0 59px 39px 2px rgba(224, 241, 255, 0.34);
          border-radius: 3px;
          background-color: #41228e; }
          .section__service .service__block__item:hover .title {
            color: #ffffff; }
          .section__service .service__block__item:hover .item_footer {
            opacity: 0.7;
            color: #ffffff; }
  .section__portfolio {
    margin-top: 150px; }
    .section__portfolio .portfolio__title {
      margin-top: 120px;
      color: #000000;
      font-family: "Poppins", sans-serif;
      font-size: 60px;
      font-weight: 700;
      line-height: 86px;
      text-align: center;
      margin-top: 176px; }
    .section__portfolio .portfolio__block {
      margin-top: 50px;
      column-count: 1;
      column-gap: 2em; }
      .section__portfolio .portfolio__block__item .portfolio_img img {
        width: 100%; }
      .section__portfolio .portfolio__block__item:nth-child(1) {
        grid-column: 1;
        grid-row: 1 / 3; }
  .section__testimonials {
    margin-top: 150px;
    height: 880px;
    position: relative; }
    .section__testimonials .testimonials {
      background-image: url("../../imgs/Map.svg");
      background-position: 0 100px;
      background-repeat: no-repeat;
      background-size: 108%;
      overflow: hidden; }
      .section__testimonials .testimonials__title {
        font-size: 48px;
        margin-top: 110px; }
      .section__testimonials .testimonials_slider {
        display: flex; }
        .section__testimonials .testimonials_slider__item {
          text-align: center;
          display: grid;
          justify-items: center;
          padding: 0 20px; }
          .section__testimonials .testimonials_slider__item .testimonial_text {
            font-size: 12px; }
            .section__testimonials .testimonials_slider__item .testimonial_text .marked {
              color: #2bfdff; }
      .section__testimonials .testimonials .tns-nav {
        margin-top: 30px;
        text-align: center; }
    .section__testimonials .leaf1 {
      display: none; }
    .section__testimonials .leaf2 {
      display: none; }
    .section__testimonials .leaf3 {
      display: none; }
  .section__brands {
    margin-top: 50px; }
    .section__brands .brand {
      overflow: hidden; }
      .section__brands .brand__slider_item {
        text-align: center; }
  .section__blogs .blogs__block {
    margin-top: 50px;
    grid-template-columns: 1fr;
    grid-gap: 1em; }
    .section__blogs .blogs__block__item .blog_content {
      padding-top: 15px;
      padding-left: 22px;
      padding-right: 22px;
      padding-bottom: 33px; }
    .section__blogs .blogs__block__item.wide {
      flex-direction: column-reverse; }
      .section__blogs .blogs__block__item.wide .blog_content, .section__blogs .blogs__block__item.wide .blog_img {
        flex-basis: calc(100%); }
        .section__blogs .blogs__block__item.wide .blog_content img, .section__blogs .blogs__block__item.wide .blog_img img {
          height: 100%; }
      .section__blogs .blogs__block__item.wide .blog_content {
        padding: 15px 22px 33px 15px; }
        .section__blogs .blogs__block__item.wide .blog_content .blog_preview {
          margin-top: 11px; }
        .section__blogs .blogs__block__item.wide .blog_content .blog_category {
          margin-top: 22px; }
  .section__contact {
    height: 525px;
    background-image: url("../../imgs/Bg_Dots.png");
    background-size: cover;
    background-position: center;
    margin-top: 100px;
    padding-top: 30px; }
    .section__contact .contact {
      position: relative; }
      .section__contact .contact__title {
        margin-top: 120px;
        color: #000000;
        font-family: "Poppins", sans-serif;
        font-size: 60px;
        font-weight: 700;
        line-height: 86px;
        text-align: center;
        margin-top: 0;
        font-size: 48px; }
      .section__contact .contact__block {
        position: absolute;
        left: 0%;
        top: 40%;
        padding: 52px 22px;
        width: 100%;
        box-shadow: 0 -80px 81px 14px rgba(224, 241, 255, 0.34);
        border-radius: 1px;
        background-color: #ffffff;
        margin: 0 auto;
        margin-top: 50px; }
        .section__contact .contact__block .form_title {
          color: #000000;
          font-family: "Roboto Slab", serif;
          font-size: 22px;
          font-weight: 400;
          text-align: center; }
        .section__contact .contact__block .contact_form .inline-form-group input, .section__contact .contact__block .contact_form .inline-form-group textarea, .section__contact .contact__block .contact_form .inline-form-group button, .section__contact .contact__block .contact_form .form-group input, .section__contact .contact__block .contact_form .form-group textarea, .section__contact .contact__block .contact_form .form-group button {
          border: 0; }
          .section__contact .contact__block .contact_form .inline-form-group input:focus, .section__contact .contact__block .contact_form .inline-form-group textarea:focus, .section__contact .contact__block .contact_form .inline-form-group button:focus, .section__contact .contact__block .contact_form .form-group input:focus, .section__contact .contact__block .contact_form .form-group textarea:focus, .section__contact .contact__block .contact_form .form-group button:focus {
            outline: 0;
            border-bottom: 2px solid #000000; }
        .section__contact .contact__block .contact_form .inline-form-group .message, .section__contact .contact__block .contact_form .form-group .message {
          height: 100px;
          width: 100%;
          border-bottom: 2px solid #00000020;
          padding: 10px 5px;
          margin-top: 60px; }
        .section__contact .contact__block .contact_form .inline-form-group {
          margin-top: 60px;
          display: flex;
          justify-content: space-between;
          flex-direction: column; }
          .section__contact .contact__block .contact_form .inline-form-group input {
            flex-basis: calc(100%);
            padding: 20px 5px;
            border-bottom: 2px solid #00000020;
            color: #00000080;
            font-family: "Roboto", sans-serif;
            font-size: 15px;
            font-weight: 400;
            line-height: 28px; }
        .section__contact .contact__block .contact_form .form-group {
          text-align: center; }
          .section__contact .contact__block .contact_form .form-group .submit_button {
            border-radius: 6px;
            background-color: #41228e;
            color: #ffffff;
            font-family: "Roboto Slab", serif;
            font-size: 22px;
            font-weight: 400;
            text-transform: uppercase;
            padding: 21px 0;
            width: 100%;
            margin-top: 42px;
            transition: .3s; }
            .section__contact .contact__block .contact_form .form-group .submit_button:hover {
              background-color: #51228e; }
  .footer {
    height: auto; }
    .footer .container {
      padding: 0 22px; }
    .footer .top_footer {
      grid-template-columns: 1fr;
      padding-top: 280px;
      grid-gap: 46px; }
      .footer .top_footer_item {
        flex-direction: column; }
    .footer .bottom_footer {
      padding-top: 27px;
      padding-bottom: 27px; }
      .footer .bottom_footer .container {
        flex-direction: column;
        text-align: center; }
        .footer .bottom_footer .container .developer a {
          opacity: 1;
          color: #fff; } }
